@media only screen and (min-width: 1000px) {
  .header{
      height:5em;
  }
  .menu .bars{
      background-color: black;
  }
  .hrline{
    display: none;}
  .menu_content {
      color: black;
      position: absolute;
      top: 10px;
      right:2em;
      display: flex;
      flex-direction: row;
  }
  .dropdown div a:link{
    text-decoration: none;
    color: white;
    font-size: 19px;
  }
  .dropdown div a:visited{
  color: white;
  }
  
  .dropdown div a:hover{
    color: rgb(165, 122, 42);
    text-decoration: underline;
    }
  .dropdown div{
    margin: 4px;
    padding: 3px;
    animation:fadeup 1s linear;
  }
  .dropdown{
    display: flex;
    flex-direction: row;
  }
  .desktop-menu{
    width: 100%;
    display: block;
      list-style-type: none;
      margin: 0;
      padding: 3em;
      background-color: #333;
    }
    
    .div-deskmenu {
      flex: row;
    }
    
    .a-deskmenu {
      background-color: white;
      color: black;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    
    }
    .log_reg{
      display: flex;
      flex-direction: row;
  }
  .log_reg div a:link{
    text-decoration: none;
    color:black;
    font-size: 20px;
  
  }
  .log_reg div a:visited{
    color:black;
  }
  .log_reg div a :hover{
    color: rgb(165, 112, 42);
  }
  .log_reg div {
    background-color:white;
    margin: 3px;
    margin-left: 4px;
    padding: 4px;
    border-radius: 3px;
    animation: fadeup 1s linear;
  
  }
    
    
  
/*========loaging style===*/
.rotation{
left:45%;
}
/*=====End loading=====*/

/* font awesome cross icon*/
.dropdown>span{
display: none;
}
/*end of font awesome awesome cross icon */



/*background theme*/

/* line-chART*/
.line-chart{
color: rgb(90, 90, 86);
position: absolute;
font-size: 3em;
top: 12%;
left: 70%;
}
/*end of line-chart*/

/* font  awesome dollar icon*/
.dollar{
color: #eee488;
position: absolute;
font-size: 3em;
top: 22%;
left: 60%;

}
/* end of font awesome dollar */


/* fa dollar2*/ 
.dollar2{
color: rgb(253, 222, 136);
position: absolute;
font-size: 3em;
top: 55%;
left: 92%;
}
/*end fa dollar2*/

/* fa euro*/ 
.euro{
color: rgb(253, 222, 136);
position: absolute;
font-size: 2em;
top: 55%;
left: 70%;
}
/*end fa euro*/

/* fa yen*/ 
.yen{
color: rgb(253, 222, 136);
position: absolute;
font-size: 2em;
top: 55%;
left: 50%;
}
/*end fa yen*/

/* fa credit card*/
.credit-card{
color: rgb(243, 243, 219);
position: absolute;
font-size: 2em;
top: 37%;
left: 70%;   
}
/*end of fa credit card*/

/* fa money*/
.money{
color: rgb(218, 248, 178);
position: absolute;
font-size: 3em;
top: 22%;
left: 80%;
}
/*end fa money*/

/* fa money2*/ 
.money2{
color: rgb(233, 248, 178);
position: absolute;
font-size: 1em;
top: 20%;
left: 50%;
}
/*end fa money2*/

/* fa money3*/ 
.money3{
color: rgb(250, 249, 176);
position: absolute;
font-size: 1em;
top: 10%;
left: 50%;
}
/*end fa money3*/

/* fa money4*/ 
.money4{
color: rgb(223, 248, 177);
position: absolute;
font-size: 1em;
top: 15%;
left: 50%;
}
/*end fa money4*/

/* fa money5*/ 
.money5{
color: rgb(242, 243, 166);
position: absolute;
font-size: 1em;
top: 25%;
left: 50%;
}
/*end fa money5*/

/* fa money6*/ 
.money6{
color: rgb(224, 243, 170);
position: absolute;
font-size: 1em;
top: 30%;
left: 50%;
}
/*end fa money6*/

/* fa money7*/ 
.money7{
color: rgb(249, 250, 190);
position: absolute;
font-size: 1em;
top: 35%;
left: 50%;
}
/*end fa money7*/

/* fa money8*/ 
.money8{
color: rgb(229, 250, 190);
position: absolute;
font-size: 1em;
top: 40%;
left: 50%;
}
/*end fa money8*/

/* fa money9*/ 
.money9{
color: rgb(246, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 50%;
}
/*end fa money9*/

/* fa money10*/ 
.money10{
color: rgb(224, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 56%;
}
/*end fa money10*/

/* fa money11*/ 
.money11{
color: rgb(249, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 62%;
}
/*end fa money11*/

/* fa money12*/ 
.money12{
color: rgb(249, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 68%;
}
/*end fa money12*/

/* fa money13*/ 
.money13{
color: rgb(232, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 74%;
}
/*end fa money13*/

/* fa money14*/ 
.money14{
color: rgb(244, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 80%;
}
/*end fa money14*/

/* fa money15*/ 
.money15{
color: rgb(224, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 86%;
}
/*end fa money15*/

/* fa money16*/ 
.money16{
color: rgb(224, 250, 190);
position: absolute;
font-size: 1em;
top: 45%;
left: 92%;
}
/*end fa money16*/



/* in industry*/
.industry{

color: rgb(90, 90, 86);
position: absolute;
font-size: 3em;
top: 23%;
left: 70%;
}
/* end of fa industry*/

/* fa tree*/
.tree{

color: rgb(63, 63, 61);
position: absolute;
font-size: 7em;
bottom:-1%;
top:70%;
}

/*  end fa tree*/

/* fa tree2*/
.tree2{

color: rgb(100, 100, 96);
position: absolute;
font-size: 3em;
bottom:0%;
top:55%;
left:30%;
}
/*  end of fa tree2*/

/*  fa tree3*/
.tree3{
color: rgb(88, 86, 86);
position: absolute;
left:50%;
top: 62%;
font-size: 5em;
/* fa tree3 */
}


/* fa tree4*/
.tree4{

color: rgb(78, 78, 75);
position: absolute;
font-size: 4em;
bottom:0%;
top:55%;
left:10%;
}
/*  end of fa tree4*/

/*  fa tree5*/
.tree5{
color: rgb(92, 90, 90);
position: absolute;
left:70%;
top: 78%;
font-size: 4em;
}
/* fa tree5*/

/*fa sun*/
.sun{
color: rgb(253, 240, 155);
position: absolute;
font-size: 3em;
left:1em;
top: 2em;
animation:sun 60s linear infinite;

}
/* end of fa sun*/

/*fa cloud */

.cloud{
  color: rgb(102, 102, 101);
  position: absolute;
  font-size: 3em;
  left:0;
  top: 2em;
  animation:cloud 40s linear infinite;
}
/*end fa cloud*/

/* fa cloud 2 */
.cloud2{
color: rgb(109, 109, 105);
position: absolute;
font-size: 3em;
left:70px;
top: 2em;
animation:cloud2 40s linear infinite;
}    


/* fa home*/
.home{

color: rgb(230, 230, 219);
position: absolute;
font-size: 2em;
top:70%;
left: 4em;
}
/*  end fa home*/

/* fa home*/
.home2{

color: rgb(243, 243, 240);
position: absolute;
font-size: 3em;
top:80%;
left: 4em;
}
/*  end fa home*/

/* fa home3*/
.home3{

color: rgb(247, 247, 242);
position: absolute;
font-size: 3em;
bottom:0%;
top:70%;
left:30%;
}
/*  end of fa home3*/  

/*  fa home4*/
.home4{
color: rgb(245, 238, 238);
position: absolute;
left:50%;
top: 80%;
font-size: 3em;
}
/* fa home4 */

/*  fa car*/
.car{
color: rgb(92, 90, 90);
position: absolute;
left:47%;
top: 84%;
font-size: 2em;
}
/* fa car*/ 


/*Widget style */
.widget{
position: absolute;
top:4em;
}
/*end of widget style*/
   

/*==== Smart investor text======*/
.smart_investor{
  top:4em;
  left: 10%;
font-size: 30px;
font-weight: bold;
width: 20em;
text-align: center;
height: 20em;
border-radius: 50%;
}

.smart_investor .text_smart{
  position: relative;
  top:8em;
}
.text_welcome{
  bottom: 0;
  left: 14%;
}
.milestone{
  top: 15em;
  left: 15%;
  width:30%;
  border-radius: 20px;
  height: 2em;
}

.milestone>.fill{
  border-radius: 20px;
  padding-right: 8px;
 }
 .milestone .line1,.milestone .line2{
     width: 1px;
     height: 3em;
     top:-8px;
 }
 
.milestone .amount_invested,.milestone .milestone_invested{
  font-size: 17px;
}
.milestone .amount_invested{
  top:-2em;
  left:2px;
}
.milestone .milestone_invested{
  top:-2em;
  right: 2px;
}
.milestone .BTC1{
  top:2em;
  left:2px;
}
.milestone .BTC2{
  top:2em;
  left:75%;
}
.milestone .line1{

left: 27%;
}
.milestone .line2{
left: 68%;
}


/*====Animations for sun and clouds  */
@keyframes cloud2{
  from{
    left:-2em;
    top:-2em;
 }
 to{
    left:50em;
    top:10em;
 }   
}      
@keyframes cloud{
from{
   left:0em;
   top:10em;
}
to{
   left:50em;
   top:0em;
} 
}   
@keyframes sun{
from{
   left:-2em;
   top:5em;
}
to{
   left:50em;
   top:-2em;
}

}   
/*====End of cloud Animation====*/

 /* start of login form login form */
 .nav_link { 
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 13px;

}
 /* start of logo login */
 .logo_img{
  height: 4em;
  width: 8em;
  text-align: center;
  margin-top: -1px;
  margin-bottom: 10px;
}
  /* end of web logo */
.center{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.h1_style{
  color: blue;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
  
}
.icon {
  text-align: left;
  text-decoration: none;
  margin-bottom: 5px;
  padding-right: 10px;
  color: orange;
  font-size: 12px;
}
.login1 {
  border-radius: 6px;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  border-color: blue;

}
.check {
  text-align: left;
  margin-left: 2em;
}
.subbtn {
  color: white;
  background-color: blue;
  width: 9em;
  border-radius: 4px;
  margin-left: 50%;
}
.link_reg{
  color: blue;
  margin-left: 3em;
  font-size: small;
}
.link_reg a{
  color: blue;
  font-size: small;
}
/* end of login form */

/* start of registration form */

.nav_link2 a{
  font-size: 22px;
}
.header_2 { 
  background-color: white;
  height: 5em;
  text-transform: uppercase;
  padding-left:  40px;
  
}
.icon2 {
  color: orange;
  margin-left: 1em;
  padding-bottom: 8px;
  font-size: 12px;
}
div.box_header {
  font-weight: bold;
  height: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.center_2 {
  position: absolute;
  border: 3px solid grey;
  height: 77%;
  width: 97%;
  margin-left: 1em;
  padding-right: 2em;
  margin-bottom: 2em;

}
.box2 {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
 
}
.box2_style {
  position: relative;
  width: 20em;
  height: 2em;
  margin-bottom: 6px;
  border-color: none;
  margin-right: 6em;


}
.fileupload {
  width: 11em;
  height: 2em;
  color: grey;
}
.reg_btn {
  color: white;
  background-color: blue;
  width: 9em;
  height: 2em;
  border-radius: 4px;
  margin-top: 2em;
  margin-left: 50%;
}


/* end of registration form for desktop */



.loginn{
  display: none;
  }

/* end of registration form for desktop */

/* invest iin bitcoin*/
.investt{
  position: absolute;
  top: 75%;
  left:75%;
  font-size: 90%;
  
  }
  
  .investt .invest_btn{
  border-radius: 3px;
  padding-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  
  }
  
  .investt .iconss{
  font-weight: bold;
  font-size: 1.9em;
  color: rgb(232, 231, 236);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
/* end of invest iin bitcoin*/

/* login and register*/




/*style for logo on top left */
header .logo{
  position: absolute;
  top:-8px;
  left: -8px; 
}
header .logo img{
  width:10em;
  height: 5em;
}
/*  ====== end of logo style==== */


/*==== Start of About section */

.About{
  flex-direction:row;
  padding-top: 5em;
}
.About>div{
  width: 47%;
  margin-left:5px;
  margin-right:5px;
}
.About .img_network img{
  width:90%;
  height:auto;
}

.card{
  font-size: 17px;
  margin-top: 1em;
  
}

/*===End of About us section ==== */

/*==== Video for dummines */
.y_video{
  padding-top:2em ;
  width:80%;
}
.y_video>iframe{
  margin-left: auto;
  margin-right: auto;
  width:768px;
  height:480px;
}

/*===End of video ===  */

/*animated text sliding */

.text-animate{
  position: absolute;
  right: 10%;
  top: 15em;
}

.text-animate #text1,#text2,#text3,#text4,#text5{
  font-size: 25px;
  padding: 0px 5px 0px 5px;
}
/*end of style */




 /* start of web logo */
 .logo_2 {
  height: 4em;
  width: 8em;
  margin-bottom: 20px;

}
/* end of logo reg */
/*three steps*/

.three-steps>div{
  margin: 2em;
  width: 95%;
  align-content: center;
}
.steps{
  display: flex;
  flex-direction: row;

}
.steps>div h4{
  text-align: center;
  padding-top: 7px;
}
.steps>div p{
  text-align: center;
  
}
.steps>div{
  margin: 1em;
}


.threestep-text .h11{
  top: 2em;
}
/*end-threesteps*/

/*why chose  us*/

.security{
display: flex;
flex-direction: row;
}

.security>div{
  margin: 1em;
}
/*end-why chose  us*/

/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
  width: 100%;
}

.planns-cards{
  display: flex;
  flex-direction:row;
  width: 100%;
  align-content: center;
}
.planns-cards>div{
  margin: 4%;
  text-align: center;
  width: 90%;
}
.planns-cards>div a{
 padding: 3px;
}

/*end-investment plans*/

/*statistics*/


.peoplee{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.peoplee{
  width: 100%;
}
.peoplee>div{
  width: 95%;
  margin: 5%;
}
.stat-text{
  color: white;
  text-align: center;
  width: 95%;
  margin: 3%;
}
.imagess{
  margin: 1em;
}

.imgg>img{
  border-radius: 4px;
}

/*end-statistics*/

/*FAQ*/

.questions{
  display: flex;
  flex-direction:column;
}
.questions>div{
 margin: 1em;
  
}

/*end-FAQ*/


/*about*/

.aboutbitcoin .about-head{
  text-align: center;
  color: white;
}

.about-content{
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.about-content>div{
  margin: 1em;
}
.picc>img{
  border-radius: 4px;
  padding-top: 3%;
  
}
/*end-about*/

/* start of login form login form */
.nav_link { 
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 13px;

}
/* start of logo login */
.logo_img{
height: 4em;
width: 8em;
text-align: center;
margin-top: -1px;
margin-bottom: 10px;
}
/* end of web logo */

.center{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.h1_style{
  color: blue;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
  
}
.icon {
  text-align: left;
  text-decoration: none;
  margin-bottom: 5px;
  padding-right: 10px;
  color: orange;
  font-size: 12px;
}
.login1 {
  border-radius: 6px;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  border-color: blue;

}
.check {
  text-align: left;
  margin-left: 2em;
}
.subbtn {
  color: white;
  background-color: blue;
  width: 9em;
  border-radius: 4px;
  margin-left: 50%;
}
.link_reg{
  color: blue;
  margin-left: 3em;
  font-size: small;
}
.link_reg a{
  color: blue;
  font-size: small;
}
/* end of login form */


/* start of registration form */

.nav_link2 a{
  font-size: 22px;
}
/* start of web logo */
.logo_2 {
height: 4em;
width: 8em;
margin-bottom: 20px;

}
/* end of logo reg */
.header_2 { 
  background-color: white;
  height: 5em;
  text-transform: uppercase;
  padding-left:  40px;
  
}
.icon2 {
  color: orange;
  margin-left: 1em;
  padding-bottom: 8px;
  font-size: 12px;

}
div.box_header {
  font-weight: bold;
  height: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.center_2 {
  position: absolute;
  border: 3px solid grey;
  height: 77%;
  width: 97%;
  margin-left: 1em;
  padding-right: 2em;
  margin-bottom: 2em;

}
.box2 {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
 
}
.box2_style {
  position: relative;
  width: 20em;
  height: 2em;
  margin-bottom: 6px;
  border-color: none;
  margin-right: 6em;


}

.fileupload {
  width: 11em;
  height: 2em;
  color: grey;
}
.reg_btn {
  color: white;
  background-color: blue;
  width: 9em;
  height: 2em;
  border-radius: 4px;
  margin-top: 2em;
  margin-left: 50%;
}


/* end of registration form for desktop */

/* start of dashboard */
.turning {
height: 100%;
width: 100%;
overflow-x: hidden;
}
.body-style {
height: 100%;
}
.sidebar li { 
list-style: none;
text-decoration: none;

}
.sidebar {
background-color: white;
color: black;
width: 17%;
height: 100%;
box-shadow: 10px 2px 8px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
overflow-y: hidden;
}
.sidebar-flex {
display: flex;
flex-direction: column;
position: relative;
text-align: center;
}
.Pcontrol {
width: 5em;
height: 5em;
margin-left: auto;
margin-right: auto;
border-radius: 50%;

}

div.sidebar_profile {
border-bottom: 1px solid grey;
text-align: center;
margin: 2em 0px 2em 10px;
padding: 1em 0px 1em 0px;
width: 90%;
}
.sidebar-manus {
position: relative;
font-weight: bold;
margin-top: 1em;
color: white;

}
.sidebar-manus ul li a {
text-decoration: none;
color: black;
height: 5em;
width: 10em;
align-items: center;

}
.sidebar-manus ul li:hover {
background-color: blue;
border-radius: 6px;
}
.sidebar-manus ul li a i {
height: 1em;
min-width: 50px;
border-radius: 12px;
line-height: 35px;
}
/* start of sidebar icon spassing */
.sidebarspace  {
padding-right: 1.2em;
}
li .fa {
margin-left: 2px;
color: black;
}
.fa-user {
padding-right: 0.50em;
}
.fa-tasks {
padding-right: 0.50em;
}
.fa-exchange {
padding-right: 0.50em;
}
.fa-credit-card {
padding-right: 0.50em;
}
/* end of sidebar icon spassing */



/* start of dash logo */
.logo_1 {
width: 8em;
height: 4em;
text-align: left;
margin-left: 0.10em;
margin-bottom: -1em;

}
/* end of dash logo */

.wrapper-box  {
display: flex;
flex-direction: row;
width: 100%;
height: 100%;
}
.w-box {
width: 83%;
height: 100%;
}


.header-dash {
position: relative;
background-color: rgb(42, 42, 241);
color: white;
height: 4em;
width: 100%;
margin-bottom: 1em;
}
.search {
text-align: right;
margin-right: 1em;
line-height: 30px;
padding-top: 15px;
border-radius: 6px;
margin-top: -3em;

}

.dash {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   margin-right: 27px;
   margin-left: 27px;
}
.dash div h1 {
  color: black;
}

li {
  list-style: none;
}
.style {
  display: flex;
  flex-direction: row;
  padding: 1em;
  color: black;
}
.change1 :hover {
  color: blue;
}
.change::before {
  display: inline-block;
  padding-right: 0.5em;
  color: #6c757d;
  content: "/";
}
/* start of dash_contant */
.dash_content {
  margin-right: 2em;
  margin-left: 2.5em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 96%;
}
.box_balance {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #007bff;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance2 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #dc3545;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;

}
.box_balance3 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #20c997;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance4 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #ffc107;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance5 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #28a745;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance6 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:#001f3f;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance7 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance8 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:  #6c757d;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
}
.box_balance9{
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-right: 1em;
}
.money_balance { 
  font-size: 1.25em;
  font-weight: 700;

}
.fa {
  color: white;
  margin-top: 18px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px solid gray;
}
.fa-money::before {
  content: \f0d6;
}
.info_icon {
  text-align: center;
  width: 25%;
  margin-top: 0.7em;
}
.info_icon a {
  width: 50%;
  height: 50%;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)!important;
}
.info_icon i {
  font-weight: bold;

}
a.elevation-1 {
  width: 2em;
  height: 2em;
  box-shadow: 2px solid rgb(14, 13, 13);
}
.infom {
  display: flex;
  flex-direction: column;
  line-height: 30px;

}
/* end of dash contents */

/* start of investing plan */
.investing-BOX {
  width: 96.5%;
  border: 1px solid gray;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
  border-radius: 3px;
}
.header_TO {
  height: fit-content;
  border-bottom: 1px solid grey;
  padding: 10px;
  color: black;
}
.control-plan {
  display: flex;
  flex-direction: row;
}
.invest-inputs {
  position: relative;
  margin-left: 1em;
}
.selectionplan {
  width: 25em;
  height: fit-content;
  margin-top: 1em;
  border-radius: 3px;

  
}
.selectionplan2 {
  width: 25em;
  height: 2em;
  height: fit-content;
  margin-top: 1em;
  padding-left: 1em;
  border-radius: 6px;

}
#selectplans-period {
  margin-top: 1em;
  height: fit-content;
  height: 2em;
  width: 100%;
  padding-left: 1em;
  border-radius: 6px;

}
.btnex {
  margin-left: 30%;
  margin-top: 4em;
}
#btnexecute {
  height: 2em;
  width: 10em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #17a2b8;
  color: white;


}

.btnex2 {
  display: none;
  margin-left: 30%;
  margin-top: 3em;
}
 
/* start of the investing cards */
.invest-cards {
  display: block;
  width: 100%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: 8em;
  background-color:#17a2b8;
  margin-top: 1em;
  margin-right: 3em;
  padding: 2em;
}
#invest-cards1 {
  display: block;
}
#invest-cards2 {
  display: none;

}
#invest-cards3 {
  display: none;
 
}
#invest-cards4 {
  display: none;
 

/* end of the investing cards */
}
.highlight-terms {
  color: orange;
  margin-left: 3em;
  margin-top: 1em;

}
.highlight-terms p a {
  color: blue;
}


/* end of investing plan */




/* start of the Btc CHart */
.chart {
  height: 30em;
}
.chart iframe{
  height:inherit;
}
/*==End of Chart */

/* start of live trading inputs */

.header_for {
  height: fit-content;
  border-bottom: 1px solid grey;
  padding: 10px;
  color: black;


}
.trading1 {
  margin-top: 10px;
}

#cryptoforex {
  width: 100%;
}

/* start of live trading inputs */

.container_box {
  top: 7%;

}

/*====End === */
.control {
  padding-left: 20px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 20px;
}
.controlmin_1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
}
.controlmin_1 input {
  width: 30.1em;
  margin-right: 20px;
  padding-right: 8px;
}
.controlmin_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}
.controlmin_2 input {
  margin-right: 18px;
  padding-right: 25px;
  width: 20.8em;
}
.select-input {
  margin-top: 18px;
}
#execute {
  width: 100%;
}
.btnsub {
  width: 98%;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 3px;
  margin-top: 1em;
  text-align: center;
}

/* start of recent trading history */
.h5 {
  color: blue;
  font-size: 1em;
  text-align: center;
  margin-top: 3em;
}
/* start of the table history */
.table {
  display: table;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(161, 208, 252);
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;

}
.tablehead {
  display: table-header-group;
  vertical-align: middle;
}
.tablehead tr {
  display: table-row;
}
.table td {
  vertical-align: top;
}

/* end of the table history */

/* start of the forex crossrate chart */
.crossrate {
  position: relative;
  width: 100%;
  height: 30em;
}
.FOREX {
  border: 1px solid grey;
  width: 100%;
  height: 2em;
  padding: 10px;
  border-radius: 3px;
}
.FOREX span {
  color: black;
}
.cross-chart {
  height: 30em;
}

/* end of the forex crossrate chart */


/* start of footer */
.footer {
  background: #fff;
border-top: 1px solid #dee2e6;
color: #869099;
padding: 1em;
text-align: center;
}
.footer strong a {
  text-decoration: none;
  color: blue;
}

/* end of footer */


/* start of deposit page*/

.transact-flex {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  margin: 1em;
}
.payment {
  border: 1px solid gray;
  height: 40%;
  width: 50%;
  padding: 1em;
  border-radius: 3px;
  margin: 1em;
}
.span-payment {
  color: black;
}
.payment-wallet {
  border: 1px solid gray;
  padding-left: 1em;
  padding-top: 0.50em;
  border-radius: 3px;
  margin-bottom: 1em;

}
.payment-wallet h5 {
  height: fit-content;
  color: blue;
}

.notify-deposit {
  border-radius: 3px;
  border: 1px solid grey;
  width: 50%;
  margin: 1em;
}
.h5change {
  color: black;
}
.h5change h5 {
  text-align: center;
  padding: 1em;
}
.text-deposit {
  color: blue;
}
.text-deposit strong p {
  padding: 0 1em;
  font-style: italic;
}
.form-deposit {
  margin-left: 1em;
  color: black;
  font-weight: bold;
}
.form-deposit label {
  margin-bottom: 0.50em;
}
#method-payment {
  width: 95%;
  margin-bottom: 0.50em;
  line-height: 50px;
  height: 2em;
  border-radius: 3px;

}
.method-payment {
  width: 97.5%;
  margin-bottom: 0.50em;
  border-radius: 3px;
  line-height: 30px;
}
.btn-deposit {
  color: white;
  background-color: blue;
  width: 96%;
  height: 2em fit-content;
  line-height: 30px;
  border-radius: 4px;

}

/* start of the table of deposit */
.history-deposit {
  padding: 1em;
  border: 1px solid #ccc;
  width: 95%;
  margin: 1.5em;
  border-radius: 4px;
}
.history-head h4 {
  color: black;
  text-align: center;
}
.select-entry {
  width: 50%;
}
.entry-search {
  color: black;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  width: 100%;
}
.search-btn{
  text-align: right;
  margin-left: 20%;
}
.table-ta {
  color: black;
  display: table;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;
  height: 2em;
}
.tablehead2{
  display: table-header-group;
  vertical-align: middle;
  height: 2em;
}
.tablehead2 tr {
  display: table-row;
}
.tablehead2 th {
  display: table-cell;
}
.tbody {
  border-collapse: collapse;
  height: 3em;
  background-color: rgba(0,0,0,.05);
}
.tbody tr td{
  border-collapse: collapse !important;
  text-align: center;
  border: 0;
  box-sizing: content-box;
}

.end-part {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  width: 100%;
}
.end-shift {
  width: 50%;
}
.prev-next {
  width: 50%;
  justify-content: right;
}
.prev-next ul {
  display: flex;
  flex: 0 0 50%;
  justify-content: end;
}
.prev-next ul li {
  border: 1px solid #ccc;
  height: 2em;
  border-radius: 3px;

}
.prev-next ul li a {
  text-decoration: none;
  padding: 5px;
  color: black;
}
/* end - depossit table */

/* end of the profile */

/* start of registration form */
.nav_link2 a{
  font-size: 22px;
}
/* start of web logo */
.logo_2 {
height: 4em;
width: 8em;
margin-bottom: 20px;

}
/* end of logo reg */
.header_2 { 
  background-color: white;
  height: 5em;
  text-transform: uppercase;
  padding-left:  40px;
  
}
.icon2 {
  color: orange;
  margin-left: 1em;
  padding-bottom: 8px;
  font-size: 12px;

}
div.box_header {
  font-weight: bold;
  height: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.center_2 {
  position: absolute;
  border: 3px solid grey;
  height: 77%;
  width: 97%;
  margin-left: 1em;
  padding-right: 2em;
  margin-bottom: 2em;

}
.box2 {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
 
}
.box2_style {
  position: relative;
  width: 20em;
  height: 2em;
  margin-bottom: 6px;
  border-color: none;
  margin-right: 6em;

}

.fileupload {
  width: 11em;
  height: 2em;
  color: grey;
}
.reg_btn {
  color: white;
  background-color: blue;
  width: 9em;
  height: 2em;
  border-radius: 4px;
  margin-top: 2em;
  margin-left: 50%;
}



/* end of registration form for desktop */

/* start of dashboard */
body {
height: 100%;
width: 100%;
}
.body-style {
height: 100%;
}
.sidebar li { 
list-style: none;
text-decoration: none;

}
.sidebar {
background-color: white;
color: black;
width: 17%;
height: 100%;
box-shadow: 10px 2px 8px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
overflow-y: hidden;
z-index: 1038;
}
.sidebar-flex {
display: flex;
flex-direction: column;
position: relative;
text-align: center;
}
.Pcontrol {
width: 5em;
height: 5em;
margin-left: auto;
margin-right: auto;
border-radius: 50%;

}


div.sidebar_profile {
border-bottom: 1px solid grey;
text-align: center;
margin: 2em 0px 2em 10px;
padding: 1em 0px 1em 0px;
width: 90%;
}

/* start of the withdrawal section */
.withdrawal-fullbody {
  width: 100%;
  padding: 1em;
}
.flexdive {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.withdraw-box {
  width: 48%;
  border :1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  margin-right: 1em;
}
.h5withdraw {
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  padding: 1em;
}
.content-bances {
  padding: 1em;
}
.pfloater {
  margin-top: 1em;
  margin-bottom: 1em;
}
.float-right {
  float: right;
  font-size: 1em;
  font-weight: bold;
}
.withdrawal-bonus {
  width: 48%;
  border :1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  margin-left: 1em;
}
.method2 {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 4px;
  margin-top: 2em;
}
.h4changing h4 {
  font-size: 1.25em;
  font-weight: bold;
}
#payment-options {
  width: 100%;
  height: 2em;
  border-radius: 4px;
}
.input-withdraw {
  width: 100%;
  height: 2em;
  border-radius: 4px;
}
.btn-withdraw {
  text-align: center;
}
#subbtn-withdrawal {
  width: 30%;
  height: 2em;
  color: white;
  background-color: blue;
  margin-top: 3em;
  text-align: center;
  border-radius: 4px;
}

/* end of the withdrawal section */


/* start of the profile */
.profile-content {
  width: 100%;
  padding: 1em;

}
.profile-container {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
}
.profile-avater {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  width: 35%;

}
.profile-pic {
  width: 6em;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  
}
.users-control {
  margin-top: 3em;
}
.users-control2 {
  margin-bottom: 2em;
}
.filebtn {
  background-color: #6c757d;
  color: white;
  height: 2.5em;
  width: 80%;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 4px;
  padding-top: 6px;
}
.btn-none {
  display: none;
  padding: 1em;
}

.profile-details {
  border: 1px solid #ccc;
  padding: 1em;
  width: 65%;
  margin-left: 1em;
  border-radius: 4px;
}
.profile-header {
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}
.profile-header ul {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

}
.profile-header ul li{
  list-style: none;
  margin-right: 6px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
}
.profile-header ul li a {
  text-decoration: none;
  padding: 0.50em 1em;
  background-color: blue;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profile-header ul li a:active {
  background-color: white;
  color: black;
}
.profile-content2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: black;
  height: 60%;
  margin-top: 1em;
}
.name-inputs {
  width: 95%;
  height: 2.5em;
  border-radius: 4px;
  padding: 0.50em;
  margin-bottom: 0.50em;
}
.diveform {
  width: 50%;
}
.diveform label {
  font-weight: bold;
  padding-bottom: 0.25em;
}
#status {
  width: 95%;
  height: 2.5em;
  background-color: #e9ecef;
}
#countri {
  width: 95%;
  height: 2.5em;
  border-radius: 4px;
}
#profile-btn {
  height: 2.5em;
  width: 15em;
  background-color: blue;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}
.p-btnsub {
  margin-top: 25px;
  margin-left: 30%;
}
.displayers {
  display: none;
}
/* start of the login details */
.displayers2 {
  display: none;
}
/* end of the login details */

/* start of banking details */
.displayers3 {
  display: block;
}

.profile-content3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  height: 60%;
  margin-top: 1em;
}
.name-inputs3 {
  width: 100%;
  height: 2.5em;
  border-radius: 4px;
  padding: 0.50em;
  margin-bottom: 0.50em;
}
.diveform3 {
  width: 100%;
}
.diveform3 label {
  font-weight: bold;
  padding-bottom: 0.25em;
}
.p-btnsub3 {
  margin-top: 50px;
  margin-left: 30%;
}
/* end of banking details */
/* end of the profile */


.sidebar-manus {
position: relative;
font-weight: bold;
padding-left: 1em;
padding-right: 1em;
margin-top: 1em;
color: white;

}
.sidebar-manus ul li a {
text-decoration: none;
color: black;
height: 1em;
width: 5em;
align-items: center;

}
.sidebar-manus ul li a:hover {
background-color: blue;
}
.sidebar-manus ul li a i {
height: 1em;
min-width: 50px;
border-radius: 12px;
line-height: 50px;
}
/* start of sidebar icon spassing */
.sidebarspace  {
padding-right: 1em;
}
li .fa {
margin-left: 4px;
color: black;
}
.fa-user {
padding-right: 1em;
}
.fa-tasks {
padding-right: 1em;
}
.fa-exchange {
padding-right: 1em;
}
.fa-credit-card {
padding-right: 1em;
}
/* end of sidebar icon spassing */



/* start of dash logo */
.logo_1 {
width: 8em;
height: 4em;
text-align: left;
margin-left: 0.10em;
margin-bottom: -1em;
}
/* end of dash logo */

.wrapper-box  {
display: flex;
flex-direction: row;
width: 100%;
height: 100%;
}
.w-box {
width: 83%;
height: 100%;
}


.header-dash {
position: relative;
background-color: rgb(42, 42, 241);
color: white;
height: 4em;
width: 100%;
margin-bottom: 1em;
}
.search {
text-align: right;
margin-right: 1em;
line-height: 30px;
padding-top: 15px;
border-radius: 6px;
margin-top: -3em;

}

.dash {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   margin-right: 27px;
   margin-left: 27px;
}
.dash div h1 {
  color: black;
}

.style {
  display: flex;
  flex-direction: row;
  padding: 1em;
  color: black;
}
.change1 :hover {
  color: blue;
}
.change::before {
  display: inline-block;
  padding-right: 0.5em;
  color: #6c757d;
  content: "/";
}
/* start of dash_contant */
.dash_content {
  margin-right: 2em;
  margin-left: 2.5em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 96%;
}
.box_balance {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #007bff;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance2 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #dc3545;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;

}
.box_balance3 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #20c997;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance4 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #ffc107;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance5 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #28a745;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance6 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:#001f3f;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance7 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance8 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:  #6c757d;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
}
.box_balance9{
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 31%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-right: 1em;
}
.fa {
  color: white;
  margin-top: 18px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px solid gray;
}
.fa-money::before {
  content: \f0d6;
}
.info_icon {
  text-align: center;
  width: 25%;
  margin-top: 0.7em;
}
.info_icon a {
  width: 50%;
  height: 50%;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)!important;
}
.info_icon i {
  font-weight: bold;

}
a.elevation-1 {
  width: 2em;
  height: 2em;
  box-shadow: 2px solid rgb(14, 13, 13);
}
.infom {
  display: flex;
  flex-direction: column;

}
/* end of dash contents */

/* start of investing plan */
.investing-BOX {
  width: 96.5%;
  border: 1px solid gray;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
  border-radius: 3px;
}
.header_TO {
  height: fit-content;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-weight: bold;
  color: black;
}
.control-plan {
  display: flex;
  flex-direction: row;
}
.invest-inputs {
  position: relative;
  margin-left: 1em;
}
.selectionplan {
  width: 25em;
  height: fit-content;
  margin-top: 1em;
  border-radius: 3px;

  
}
.selectionplan2 {
  width: 25em;
  height: 2em;
  height: fit-content;
  margin-top: 1em;
  padding-left: 1em;
  border-radius: 6px;

}
#selectplans-period {
  margin-top: 1em;
  height: fit-content;
  height: 2em;
  width: 100%;
  padding-left: 1em;
  border-radius: 6px;

}
.btnex {
  margin-left: 30%;
  margin-top: 4em;
}
#btnexecute {
  height: 2em;
  width: 10em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #17a2b8;
  color: white;


}
.invest-cards {
  width: 100%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: 8em;
  background-color:#17a2b8;
  margin-top: 1em;
  margin-right: 3em;
  padding: 2em;
}
.highlight-terms {
  color: orange;
  margin-left: 3em;
  margin-top: 1em;

}
.highlight-terms p a {
  color: blue;
}


/* end of investing plan */



/* start of wedges */
.wedges {
  height: 3.5em;
}
.wedges  iframe{
  height: 3.5em;
}
/* end of the wedge */

/* start of live trading inputs */

.header_for {
  height: fit-content;
  border-bottom: 1px solid grey;
  padding: 10px;
  color: black;


}
.trading1 {
  margin-top: 10px;
}

#cryptoforex {
  width: 100%;
}
.trading {
  margin-top: 1em;
  margin-bottom: 0.5em;

}
.control {
  padding-left: 20px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 20px;
}
.controlmin_1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
}
.controlmin_1 input {
  width: 30.1em;
  margin-right: 20px;
  padding-right: 8px;
}
.controlmin_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}
.controlmin_2 input {
  margin-right: 18px;
  padding-right: 25px;
  width: 20.8em;
}
.select-input {
  margin-top: 18px;
}
#execute {
  width: 100%;
}
.btnsub {
  width: 98%;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 3px;
  margin-top: 1em;
  text-align: center;
}

/* start of recent trading history */
.h5 {
  color: blue;
  font-size: 1em;
  text-align: center;
  margin-top: 3em;
}
/* start of the table history */
.table {
  display: table;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(161, 208, 252);
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;

}
.tablehead {
  display: table-header-group;
  vertical-align: middle;
}
.tablehead tr {
  display: table-row;
}
.table td {
  vertical-align: top;
}

/* end of the table history */



/* start of footer */
.footer {
  background: #fff;
border-top: 1px solid #dee2e6;
color: #869099;
padding: 1em;
text-align: center;
}
.footer strong a {
  text-decoration: none;
  color: blue;
}

/* end of footer */


/* start of the profile */

.transact-flex {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  margin: 1em;
}
.payment {
  border: 1px solid gray;
  height: 40%;
  width: 50%;
  padding: 1em;
  border-radius: 3px;
  margin: 1em;
}
.span-payment {
  color: black;
}
.payment-wallet {
  border: 1px solid gray;
  padding-left: 1em;
  padding-top: 0.50em;
  border-radius: 3px;

}
.payment-wallet h5 {
  height: fit-content;
  color: blue;
}

.notify-deposit {
  border-radius: 3px;
  border: 1px solid grey;
  width: 50%;
  margin: 1em;
}
.h5change {
  color: black;
}
.h5change h5 {
  text-align: center;
  padding: 1em;
}
.text-deposit {
  color: blue;
}
.text-deposit strong p {
  padding: 0 1em;
  font-style: italic;
}
.form-deposit {
  margin-left: 1em;
  color: black;
  font-weight: bold;
}
.form-deposit label {
  margin-bottom: 0.50em;
}
#method-payment {
  width: 95%;
  margin-bottom: 0.50em;
  line-height: 50px;
  height: 2em;
  border-radius: 3px;

}
.method-payment {
  width: 97.5%;
  margin-bottom: 0.50em;
  border-radius: 3px;
  line-height: 30px;
}
.btn-deposit {
  color: white;
  background-color: blue;
  width: 96%;
  height: 2em fit-content;
  line-height: 30px;
  border-radius: 4px;

}

/* start of the table of deposit */
.history-deposit {
  padding: 1em;
  border: 1px solid grey;
  width: 95%;
  margin: 1.5em;
  border-radius: 4px;
}
.history-head h4 {
  color: black;
  text-align: center;
}
.select-entry {
  width: 50%;
}
.entry-search {
  color: black;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  width: 100%;
}
.search-btn{
  text-align: right;
  margin-left: 20%;
}
.table-ta {
  color: black;
  display: table;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;
}
.tablehead2{
  display: table-header-group;
  vertical-align: middle;
}
.tablehead2 tr {
  display: table-row;
}
.tablehead2 th {
  display: table-cell;
}
.tbody td {
  display: table-cell;
}
/* end - depossit table */


/* end of the profile */


/*leave a mesage form*/
.formmmm>input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


.formmm{
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0.5em;
  width: 60%;
  padding: 1em;
}
.formmm>div{
  text-align: center;
  padding: 8px;
}
.containerr{
  display: flex;
  flex-direction:row;
  margin: 1em;
  
}
.containerr .widgett{
  width: 45%;
  height:20em;
  position:relative;
  top:1em;
  background-image: white;
  background-color: white;
  border-radius:5px;
}
/*end-leave a mesage form*/

/* smart investa last blocka*/
.lastblock>h1{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding-left: 6%;
  align-content: center;
}

.last-blockdiv>div{
  margin: 2em;
  font-size: 2em;
}
.quick-links h5{
  font-size: 1em;
}
/* end-smart investa last blocka*/




}
