@media only screen and (max-width: 600px) {
.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
}

/* Style for animations    */

@keyframes slide{
    from{
        right:-20em;
    }
    to{
        right:0em;
        
    }
    
}
/*=======Style for loader=========*/
.Loading{
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    height: 100em;
}
 #slide1{
    width:50%;
    height: 100em;
    background-color: rgb(14, 12, 12);
    animation-delay: 1s;
    position: relative;
    top: 0;
    left: 0%;
}

#slide2{
    width:50%;
    height: 100em;
    background-color: rgb(14, 12, 12);
    animation-delay: 1s;
    position: relative;
    top: 0;
    right: 0%;
}
.rotation{
    position: absolute;
    top: 46%;
    z-index: 1001;
    background-color: transparent;
}
.rotation>div{
    width:4em;
    height: 2px;
    background-color: white;
    position: absolute;    
}
.rotation>span{
    position: relative;
    color: white;
    top: -2em;
    animation:text-fade 1s linear infinite;
}
#rot1{
    animation: rotation1 1s ease-out  infinite ;
    transform: rotate(20deg);
}
#rot2{
    animation: rotation1 1s ease-in  infinite ;
    transform: rotate(-20deg);
}

#rot3{
    animation: rotation2 1s ease-in infinite ;
    transform: rotate(90deg);
}
.animate_slide1{
    animation: loading_left 3s linear infinite;
}

.animate_slide2{
    animation: loading_right 3s linear infinite;
}

#rot4{
    animation: rotation2 1s ease-in-out  infinite ;
    transform: rotate(-180deg);
}

@keyframes  loading_left {
    from{
        left: 0%;  
    }
    to{
        left: -100%;
    }
    
}


@keyframes  loading_right {
    from{
        right: 0%;  
    }
    to{
        right: -100%;
    }
    
}

@keyframes   text-fade{
    0%{
        color:white;  
    }
    50%{
        color: black;
    }
    100%{
        color: white;
    }
    
}



@keyframes  rotation1 {
    from{
        transform: rotate(20deg);  
    }
    to{
        transform: rotate(360deg);
    }
}
    
@keyframes  rotation2 {
    from{
        transform: rotate(0deg);  
    }
    to{
        transform: rotate(-360deg);
    }
    
}
/*=====End Of style For loader=====*/


/*=====Style for Buttons====*/
.button{
    background-image: linear-gradient(to bottom right,white, rgb(0, 183, 255), rgb(32, 85, 230));
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
.button a:link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button a:hover{
    text-decoration: underline;

}
.button:hover{
    background-image: linear-gradient(to bottom right,white, rgb(245, 239, 239), rgb(184, 187, 186));
    color: blue;
    text-decoration: underline;
}

button{
    background-image: linear-gradient(to bottom right,white, rgb(0, 183, 255), rgb(32, 85, 230));
}

.log_reg div a:link{
    text-decoration: none;
    color: white;
  }
 .log_reg div a:visited{
    color:white;
  } 
.log_reg div a :hover{
    color: blue;
  }

 

  
/* icons opacity*/
.opa{
    opacity: 0.2;
}
  /* background theme*/
.background-theme{
    width: 100%;
    height: 100%;
    position: relative;
    top :0em;
    background: linear-gradient(rgb(13, 13, 14),rgb(90, 88, 88), rgb(19, 18, 18)) ;
    z-index: 0;
    overflow: hidden;
    margin: 0;
}
/* end of background theme*/

/*==== Smart investor text======*/
.smart_investor{
    position: relative;
    z-index: 0;
color: rgb(20, 155, 218);
font-weight: bold;
background-image:radial-gradient(rgb(194, 187, 187), black);
text-align: center;
border-radius: 50%;
}
.smart_investor:hover{
    background-image:radial-gradient(rgb(231, 210, 210), rgb(5, 5, 5)) 
}

.smart_investor .text_smart{
    animation: fadeup 1s linear;
  }

.text_welcome{
    position: absolute;
    font-size: large;
    color: white;
    z-index: 1;
    animation: fadeup 1s linear;
}
.milestone{
    position: absolute;
    border: 1px solid white;
    z-index: 1;
    padding: 0;
}
.milestone>.fill{
 background-image: linear-gradient(to bottom right,white, rgb(0, 183, 255), rgb(32, 85, 230));
 overflow: hidden;
 height: 100%;
 margin: 0;
 text-align: right;
 color: white;
 padding-top: auto;
 padding-bottom: auto;
 font-weight: bold;
}
.milestone .line1,.milestone .line2{
    width: 1px;
    background-color: white;
    z-index: 1;
    position: absolute;
}
.milestone .amount_invested,.milestone .milestone_invested{
        color: white;
        position: absolute;
        z-index: 1;
        font-weight: bold;
        animation: fadeup 1s linear;
    }


.investt .iconss{
font-weight: bold;

font-size: 1.5em;
color: rgb(232, 231, 236);
width:80%;
margin-left: auto;
margin-right: auto;
text-align: center;
}
/*======End of Banner=======   */


/* start of body */
.body_style{
    background-color: rgb(26, 25, 25);
}
/* end of body */

  /* start of web logo */
  .logo_2 {
    height: 6em;
    width: 12em;

}
.logo_img{
    height: 6em;
    width: 12em;
    text-align: center;
    margin-top: 40px;
}
    /* end of web logo */

/*start of center box*/
.nav_link2{
    position: absolute;
    top:10px;
    right: 1em;
}    
.nav_link2 a:link{
    text-align: right;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.nav_link2 a:visited{
color: white;
text-decoration: none;
}

.nav_link2 a:hover{
    color: blue;
    text-decoration: underline;
    opacity: 0.8;
    }
/* end of center box */


/*==== Start of About section */

.About{
    width:100%;
    background-image:linear-gradient( white , white, rgb(255, 255, 255));
    position:relative;
    display:flex;
}
.About .img_network img{
    animation: fadeup 1s linear;
}

.card{
    background-image: linear-gradient(to bottom right, rgb(0, 183, 255), rgb(32, 85, 230));
    color: white;
    border-radius: 4px;
    padding: 4px;
    border:1px dotted black;
    
}

/*===End of About us section ==== */

/*==== Video for dummines */
.y_video{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.y_video>iframe{
    margin-left: auto;
    margin-right: auto;
}

/*===End of video ===  */

/*Animations for FadeUp */
.fadeup{
    animation:fadeup 1s linear ;
}
@keyframes fadeup{
    from{
      opacity: 0;
      top:-2em;
      position: relative;
    }
    to{
      opacity: 1;
      top:0em;
      position: relative;
    }
    
  }
  /*===End of animation  */
  
/*Animations for Fadeout */
.fadeout{
    animation: fadeout 1s linear;
}

@keyframes fadeout{
    from{
      opacity: 0;
      transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
  }
  /*===End of animation  */
  
/*style for logo on top left */
header .logo img{
    animation: fadeup 2s linear;
  }
  /*====End of logo */

/*pop up for file uploads */
.response{
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    z-index: 1001;
}
.response .response_cancel{
    font-size: 35px;
    color: red;
    position: absolute;
    top:-5px;
    right: 0px;

}
/*end of pop for file uploads*/

/*animation for text */
.text-animate{
    position: absolute;
    background-color: white;
    z-index: 100;
    border-radius: 3px;
    box-shadow: 4px 4px 1px rgb(17, 16, 16);}

    .text-animate #text1,#text3,#text5{
        color: rgb(38, 76, 102);
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(207, 205, 205);
        animation: fadeout 1s linear;
    
    }
    #text2,#text3,#text4,#text5{
        display: none;
    }
    
    .text-animate #text2,#text4{
        color: rgb(8, 8, 8);
        font-weight: bold;
        display: none;
        text-shadow: 2px 3px 3px rgb(187, 187, 187);
        animation: fadeup 1s linear;
    
    
    }
.text-animate #back {
    background-color: rgb(64, 124, 23);
    position: absolute;
    width: 0%;
    height: 100%;
    margin: 0;
    z-index: 10;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right,white, rgb(0, 183, 255), rgb(32, 85, 230));
   
}

.steps{
  display: flex;
  flex-direction: column;
 
}
.steps>div{
  margin: 1em;
 
}


.text-animate #forward {
    background-color: rgb(170, 119, 24);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    height: 100%;
margin: 0;
    z-index: 9;
    display: none;
    background: linear-gradient(rgb(255, 255, 255),rgb(90, 88, 88), rgb(19, 18, 18)) ;
}
/*three steps*/

.three-steps{
    position: relative;
    width: 100%;
    margin: 3%;
    margin-left: 0%;
}


.threestep-text{
    align-content: center;
    text-align: center;

}
/*end-three steps*/



/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
}
/*why chose us*/
.chose{
    width: 100%;
    position: relative;
    text-align: center;
   
}
/*end-why chose us*/

/*investment plans*/
.investmentss{
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
    
}   
/*end-investment plans*/


/*statistics*/
.statistics{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
    width: 100%;
    position: relative;
    text-align: center; 
}

/*end-statistics*/

/*FAQ*/
.faqq{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
    width: 100%;
    position: relative;
   
}
.faq-text{
    text-align: center;
    color:white;
  }
/*endFAQ*/

.about-content{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.about-content>div{
  width:95% ;
  
}
.picc>img{
  border-radius: 6px;
  left: -5%;
}
/*about bitcoin*/


.aboutbitcoin{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
}

/*end-about bitcoin*/

/*leave a mesage form*/
.formmmm>input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


.formmm{
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0.5em;
}
.formmm>div{
  text-align: center;
  padding: 8px;
}
.containerr{
  display: flex;
  flex-direction: column;
  margin: 1em;
  
}
.containerr>div{
  padding: 1em;
}
/*end-leave a mesage form*/


/* smart investa last blocka*/
.lastblock>h1{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding-left: 6%;
}

.last-blockdiv>div{
  margin: 0.5em;
  font-size: 1em;
}
.quick-links h5{
  font-size: 1em;
}
.quick-links a:link{
  text-decoration: none;
  color: #062a52;
}
.quick-links a:hover{
  color: #eca31b;
}

.services h5{
  font-size: 1em;
}
.services a:link{
  text-decoration: none;
  color: #062a52;
}
.services a:hover{
  color: #eca31b;
}
.form-div{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);  
}
/*end- leave a message form*/

 /* smart investa last block*/
.lastblock{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);   
}
 /* end-smart investa last block*/
}