@media only screen and (max-width: 600px) {

    h1{
        font-size: 26px;
    }
    h2{
        font-size: 23px;
    }
    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 17px;
    }
    p{
        color:black;
        font-size:15px;
    }
    span{
        font-style:italic;
        font-size:14px;
    }
    strong{
        font-size:15px;
    }
    blockquote{
        color:maroon;
        font-style:italic;
        font-size:13px;
    }
    a{
        font-size: 15px;
    }
    a:hover{
        color:rgb(16, 45, 173);
        
    }
    a:link{
        color:maroon;
        
    }
    a:visited{
        color:#0033ff;
    }
    a:active{
        color:maroon;
        
    }
    ul li{
        font-size:15px;
        color:black;
    }
    
.header{
    height: 3em;
}

.menu{
    position: absolute;
    top: 7px;
    right: 3px;
    padding: 3px;
    width:10%;
    background-color: transparent;

}
.hello{
    position: absolute;
    top:5em;
    right: 0;
    color: black;
    display: none;
}
.menu .bars{

    background-color: white;
    margin-top: 3px;
    margin-bottom: 2px;
    height: 4px;
    width: 100%;

}

.menu_content{
    width: 12em;
    background-color: black;
    background-image: linear-gradient(to bottom right, white,grey);
    position: absolute;
    top:-10px;
    right:-4px;
    height: 50em;
    z-index: 1;
    animation: slide 1s linear;
    display: none;
    margin: 0;
    box-shadow: 0px 0px 5px 3px grey;
}

.menu_content .dropdown div{
    width:5em;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeup 1s linear;


}
.menu_content .dropdown div a:link, .menu_content .dropdown div a:visited{
    color:white;
    text-decoration: none;

}

.menu_content .dropdown div a:hover{
  color: rgb(214, 174, 44);
  text-decoration: underline;
}
.menu:hover .menu_content {
    display: block;
} 
.hrline{
    background-color: rgb(7, 7, 7);
    border: 2px solid rgb(2, 2, 2);
}
.log_reg{
    display: flex;
    flex-direction: column;
}
.log_reg div a:link{
  text-decoration: none;
  color: white;
  font-size: 20px;

}
.log_reg div a:visited{
  color:white;
}
.log_reg div a :hover{
  opacity: 0.8;
}
.log_reg div {
  background-color:white;
  margin: 3px;
  padding: 4px;
  border-radius: 3px;
  width: 80%;
  margin-right: auto;
  margin-right: auto;
  transform: translate(10%,50%);
  animation: fadeup 1s linear;
}

/*========loaging style===*/
.rotation{    
    left:40%;
}
/*=====End loading=====*/


/* span closes */

.dropdown>span{
    position: absolute;
    top: -16px;
    left: 2px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: -1px 0px 2px 0px;
    color:white;
    font-size: 30px;
}
.dropdown  span i{
    color:rgb(247, 25, 25);
    font-size: 20px;
}
/* end span close*/

/*background theme*/

/* line-chART*/
.line-chart{
    color: rgb(90, 90, 86);
    position: absolute;
    font-size: 3em;
    top: 8%;
    left: 70%;
  }
  /*end of line-chart*/
  
  /* font  awesome dollar icon*/
  .dollar{
      color: #eee488;
      position: absolute;
      font-size: 2em;
      top: 22%;
      left: 60%;
   
    }
    /* end of font awesome dollar */
  
  
  /* fa dollar2*/ 
  .dollar2{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 92%;
  }
  /*end fa dollar2*/
  
  /* fa euro*/ 
  .euro{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 70%;
  }
  /*end fa euro*/
  
  /* fa yen*/ 
  .yen{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 50%;
  }
  /*end fa yen*/
  
  
  
    /* fa credit card*/
    .credit-card{
      color: rgb(243, 243, 219);
      position: absolute;
      font-size: 2em;
      top: 35%;
      left: 70%;   
    }
    /*end of fa credit card*/
   
  /* fa money*/
  .money{
      color: rgb(218, 248, 178);
      position: absolute;
      font-size: 2em;
      top: 22%;
      left: 85%;
    }
  /*end fa money*/
  
   /* fa money2*/ 
  .money2{
    color: rgb(233, 248, 178);
    position: absolute;
    font-size: 1em;
    top: 20%;
    left: 50%;
  }
  /*end fa money2*/
  
   /* fa money3*/ 
   .money3{
    color: rgb(250, 249, 176);
    position: absolute;
    font-size: 1em;
    top: 10%;
    left: 50%;
  }
  /*end fa money3*/
  
   /* fa money4*/ 
   .money4{
    color: rgb(223, 248, 177);
    position: absolute;
    font-size: 1em;
    top: 15%;
    left: 50%;
  }
  /*end fa money4*/
  
   /* fa money5*/ 
   .money5{
    color: rgb(242, 243, 166);
    position: absolute;
    font-size: 1em;
    top: 25%;
    left: 50%;
  }
  /*end fa money5*/
  
  /* fa money6*/ 
  .money6{
    color: rgb(224, 243, 170);
    position: absolute;
    font-size: 1em;
    top: 30%;
    left: 50%;
  }
  /*end fa money6*/
  
  /* fa money7*/ 
  .money7{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 35%;
    left: 50%;
  }
  /*end fa money7*/
  
  /* fa money8*/ 
  .money8{
    color: rgb(229, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 40%;
    left: 50%;
  }
  /*end fa money8*/
  
  /* fa money9*/ 
  .money9{
    color: rgb(246, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 50%;
  }
  /*end fa money9*/
  
  /* fa money10*/ 
  .money10{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 56%;
  }
  /*end fa money10*/
  
  /* fa money11*/ 
  .money11{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 62%;
  }
  /*end fa money11*/
  
  /* fa money12*/ 
  .money12{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 68%;
  }
  /*end fa money12*/
  
  /* fa money13*/ 
  .money13{
    color: rgb(232, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 74%;
  }
  /*end fa money13*/
  
  /* fa money14*/ 
  .money14{
    color: rgb(244, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 80%;
  }
  /*end fa money14*/
  
  /* fa money15*/ 
  .money15{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 86%;
  }
  /*end fa money15*/
  
  /* fa money16*/ 
  .money16{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 92%;
  }
  /*end fa money16*/
  
  
  
      /* in industry*/
      .industry{
    
        color: rgb(90, 90, 86);
        position: absolute;
        font-size: 3em;
        top: 20%;
        left: 70%;
      }
    /* end of fa industry*/
    
    /* fa tree*/
    .tree{
    
        color: rgb(63, 63, 61);
        position: absolute;
        font-size: 6em;
        bottom:-1%;
        top:70%;
      }
    
    /*  end fa tree*/
  
     /* fa tree2*/
     .tree2{
    
      color: rgb(100, 100, 96);
      position: absolute;
      font-size: 2em;
      bottom:0%;
      top:55%;
      left:30%;
    }
  /*  end of fa tree2*/
  
  /*  fa tree3*/
  .tree3{
  color: rgb(88, 86, 86);
  position: absolute;
  left:50%;
  top: 62%;
  font-size: 4em;
  /* fa tree3 */
  }
  
  
     /* fa tree4*/
     .tree4{
    
      color: rgb(78, 78, 75);
      position: absolute;
      font-size: 3em;
      bottom:0%;
      top:55%;
      left:10%;
    }
  /*  end of fa tree4*/
  
  /*  fa tree5*/
  .tree5{
    color: rgb(92, 90, 90);
    position: absolute;
    left:70%;
    top: 78%;
    font-size: 3em;
  }
    /* fa tree5*/
  
  /*fa sun*/
  .sun{
      color: rgb(253, 240, 155);
      position: absolute;
      font-size: 3em;
      left:-1em;
      top: 2em;
      animation:sun 30s linear infinite;
  
    }
   /* end of fa sun*/
  
   /*fa cloud */
  
   .cloud{
          color: rgb(102, 102, 101);
          position: absolute;
          font-size: 3em;
          left:0em;
          top: 5em;
          animation:cloud 20s linear infinite;
   }
   /*end fa cloud*/
  
   /* fa cloud 2 */
   .cloud2{
      color: rgb(109, 109, 105);
      position: absolute;
      font-size: 3em;
      left:0em ;
      top: 0em;
      animation:cloud2 20s linear infinite;
   } 
   /* fa lightning */
   .lightning{
    color: rgb(109, 109, 105);
    position: absolute;
    font-size: 3em;
    left:60px;
    top: 2em;
  }    
  /* fa lightning */
  
     /* fa home*/
     .home{
    
      color: rgb(230, 230, 219);
      position: absolute;
      font-size: 1em;
      top:70%;
      left: 4em;
    }
  /*  end fa home*/
   
     /* fa home*/
     .home2{
    
      color: rgb(243, 243, 240);
      position: absolute;
      font-size: 2em;
      top:80%;
      left: 4em;
    }
  /*  end fa home*/
  
     /* fa home3*/
     .home3{
    
      color: rgb(247, 247, 242);
      position: absolute;
      font-size: em;
      bottom:0%;
      top:70%;
      left:30%;
    }
  /*  end of fa home3*/  
  
  /*  fa home4*/
  .home4{
    color: rgb(245, 238, 238);
    position: absolute;
    left:50%;
    top: 80%;
    font-size: 2em;
  }
    /* fa home4 */
    
  /*  fa car*/
  .car{
    color: rgb(92, 90, 90);
    position: absolute;
    left:45%;
    top: 84%;
    font-size: 1em;
  }
    /* fa car*/
    /*========loaging style===*/
  .rotation{   
      left:40%;
  }
  /*=====End loading=====*/
  
  /* span closes */
  
 /*Widget style */
.widget{
    position: absolute;
    top:3em;
  }
  /*end of widget style*/

/*==== Smart investor text======*/
.background-theme .smart_investor{
    overflow: visible;
}
 .smart_investor{
    top:8em;
    position:absolute;
    left: 8%;
  font-size: 30px;
  width: 26em;
  height: 24em;
  border-radius: 50%;
  }
  .smart_investor .text_smart{
    position: relative;
    top: 2em;
    right:8em;
    font-size: 24px;
  }
  
  .text_welcome{
    top:37em;
    left: 2em;
    width:90%;
    height: 5em;
  }
  .milestone{
    top: 12em;
    left: 11%;
    width:75%;
    border-radius: 20px;
    height: 2em;
  }
  
  .milestone>.fill{
    border-radius: 20px;
    padding-right: 8px;
   }
   .milestone .line1,.milestone .line2{
       width: 1px;
       height: 3em;
       top:-8px;
   }
   
  .milestone .amount_invested,.milestone .milestone_invested{
    font-size: 14px;
  }
  .milestone .amount_invested{
    top:-2em;
    left:2px;
  }
  .milestone .milestone_invested{
    top:-2em;
    right: 2px;
  }
  .milestone .BTC1{
    top:2em;
    left:2px;
  }
  .milestone .BTC2{
    top:2em;
    left:20em;
  }
  .milestone .line1{
  
  left: 30%;
  }
  .milestone .line2{
  left: 70%;
  }

  
/*====Animations for sun and clouds  */
@keyframes cloud2{
  from{
      left:0em;
      top:0em;
  }
  to{
      left:13em;
      top:3em;
  }    
}      
@keyframes cloud{
from{
   left:0em;
   top:5em;
}
to{
   left:13em;
   top:0em;
} 

}   
@keyframes sun{
from{
   left:-1em;
   top:2em;
}
to{
   left:13em;
   top:-1em;
}

}   
/*====End of cloud Animation====*/

/* start of registration form for phone */

.nav_link2{
  position: absolute;
  top:5em;
  right: 2em;
}
.header_2 { 
  background-color: white;
  height: 5em;
  width: 100%;
  text-transform: uppercase;
  padding-left:  40px;
}
/* start of web logo */
.logo_2 {
height: 4em;
width: 8em;
margin-bottom: 40px;

}
/* end of logo reg */

.icon2 {
color: orange;
margin-left: 1em;
padding-bottom: 8px;
font-size: 10px;
}
div.box_header {
  font-weight: bold;
  height: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.center_2 {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid grey;
  height: auto;
  width: 88%;
  margin-left: 20px;
  margin-right: auto;
  padding-right: auto;

}
.box2 {
  color: white;
  padding-left: 1.5em;

}
.box2 .box2_style {
  width: 17em;
  height: 2em;
  margin-bottom: 20px;
  border-color: none;
}
.fileupload {
  width: 11em;
  height: 2em;
  color: rgb(110, 110, 110);
}
.reg_btn {
color: white;
background-color: blue;
width: 9em;
height: 2em;
border-radius: 4px;
margin-top: 2em;
margin-left: 30%;
}
/* end of registration form for phone */

/* login and registation for tablet*/
  
.loginn{
  display: flex;
  flex-direction: row;
  
}

.loginn{
position: absolute;
right: 11%;
top: 5px;
}

.loginn div{ 
  margin-left: 6px;
  padding: 3px;
  border-radius: 4px;
  }
  
.loginn div a{ 
  font-size: 17px;
  }

/* invest in bitcoin*/
.investt{
position: absolute;
top: 34em;
left:30%;
width:12em;

}

.invest_btn{
border-radius: 3px;
margin: 10px;
padding: 4px;
font-size: 17px;
font-weight: bold;

}

.investt .iconss{
font-weight: bold;

font-size: 1.5em;
color: rgb(232, 231, 236);
width:80%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

/* end of invest in bitcoin*/


/*style for logo on top left */
header .logo{
  position: absolute;
  top:-4px;
  left: -3px; 
}
header .logo img{
  width:6em;
  height: 3em;
}
/*  ====== end of logo style==== */
/*==== Start of About section */

.About{
  flex-direction:column;
  padding-top: 2em;
}
.About>div{
  width: 95%;
}
.About .img_network img{
  width:90%;
  height:auto;
}

.card{
  font-size: 15px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: 3%;
  text-align: center;
  
}

/*===End of About us section ==== */

/*==== Video for dummines */
.y_video{
  padding-top:1em ;
  width:100%;
}
.y_video>iframe{
  margin-left: auto;
  margin-right: auto;
  width:90%;
  height:480px;
}

/*===End of video ===  */



/*animation for text */
.text-animate{
  top:27.4em;
  left: 10%;
}


.text-animate #text1,#text2,#text3,#text4,#text5{
  font-size: 17px;
  padding: 0px 5px 0px 5px;
}
/* end- animation text*/
     
/*three steps*/

.three-steps>div{
  top: 2em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;

}
.steps{
  display: flex;
  flex-direction: column;
 
}
.steps>div{
  margin: 1em;
 
}


.threestep-text .h11{
  top: 2em;
}
/*end-threesteps*/

/*why chose  us*/

.security{
display: flex;
flex-direction: column;
}

.security>div{
  margin: 1em;
}
/*end-why chose  us*/


/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
}

.planns-cards{
  display: flex;
  flex-direction:column;
  padding-left: 8%;
  margin: 0.5em;
}
.planns-cards>div{
  
  text-align: center;
  padding: 5px;
  width: 80%;
  font-size: 2em;
}
.planns-cards>div a{
  padding: 8px;
}

/*end-investment plans*/
/*statistics*/

.stat-text{
  text-align: center;
  color: white;
}

.peoplee{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.peoplee>div{
  margin: 1em;
  text-align: center;
  width: 60%;
  left: 17%;
 
}

.imagess>i{
  font-size: 4em;
}
.imagess>div{
 margin: 1em;
}
.imgg>img{
  border-radius: 6px;
  width: 95%;
}

/*end-statistics*/

/*FAQ*/

.questions{
  display: flex;
  flex-direction:column;
}
.questions>div{
 margin: 1em;
  
}

/*end-FAQ*/

/*about*/

.aboutbitcoin .about-head{
  text-align: center;
  color: white;
}

.about-content{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.about-content>div{
  width:95% ;
  
}
.picc>img{
  border-radius: 6px;
  left: -5%;

}


/*end-about*/


/*leave a mesage form*/
.formmmm>input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


.formmm{
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0.5em;
}
.formmm>div{
  text-align: center;
  padding: 8px;
}
.containerr{
  display: flex;
  flex-direction: column;
  margin: 1em;
  
}
.containerr>div{
  padding: 1em;
}
/*end-leave a mesage form*/


/* smart investa last blocka*/
.lastblock>h1{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding-left: 6%;
}

.last-blockdiv>div{
  margin: 0.5em;
  font-size: 1em;
}
.quick-links h5{
  font-size: 1em;
}
.quick-links a:link{
  text-decoration: none;
  color: #062a52;
}
.quick-links a:hover{
  color: #eca31b;
}

.services h5{
  font-size: 1em;
}
.services a:link{
  text-decoration: none;
  color: #062a52;
}
.services a:hover{
  color: #eca31b;
}  


/* end-smart investa last blocka*/



}
