@media only screen and (max-width: 600px) {
    h1{
        font-size: 26px;
    }
    h1{
        font-size: 26px;
  }
    h2{
        font-size: 23px;
    }
    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 17px;
    }
    p{
        font-size:15px;
    }
    span{
        font-size:14px;
    }
    strong{
        font-size:15px;
    }
    blockquote{
        color:maroon;
        font-style:italic;
        font-size:13px;
    }
    a{
        font-size: 15px;
    }
    a:hover{
        color:rgb(16, 45, 173);
        
    }
    a:link{
        color:maroon;
        
    }
    a:visited{
        color:#0033ff;
    }
    a:active{
        color:maroon;
        
    }
    ul li{
        font-size:15px;
        color:black;
    }
    

.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
}

/* Style for animations    */

@keyframes slide{
    from{
        right:-20em;
    }
    to{
        right:0em;
        
    }
    
}
/*=======Style for loader=========*/
.Loading{
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    height: 100em;
}
 #slide1{
    width:50%;
    height: 100em;
    background-color: rgb(14, 12, 12);
    animation-delay: 1s;
    position: relative;
    top: 0;
    left: 0%;
}

#slide2{
    width:50%;
    height: 100em;
    background-color: rgb(14, 12, 12);
    animation-delay: 1s;
    position: relative;
    top: 0;
    right: 0%;
}
.rotation{
    position: absolute;
    top: 46%;
    z-index: 1001;
    background-color: transparent;
}
.rotation>div{
    width:4em;
    height: 2px;
    background-color: white;
    position: absolute;    
}
.rotation>span{
    position: relative;
    color: white;
    top: -2em;
    animation:text-fade 1s linear infinite;
}
#rot1{
    animation: rotation1 1s ease-out  infinite ;
    transform: rotate(20deg);
}
#rot2{
    animation: rotation1 1s ease-in  infinite ;
    transform: rotate(-20deg);
}

#rot3{
    animation: rotation2 1s ease-in infinite ;
    transform: rotate(90deg);
}
.animate_slide1{
    animation: loading_left 3s linear infinite;
}

.animate_slide2{
    animation: loading_right 3s linear infinite;
}


#rot4{
    animation: rotation2 1s ease-in-out  infinite ;
    transform: rotate(-180deg);
  }



/*style for logo on top left */
header .logo{
  position: absolute;
  top:-4px;
  left: -3px; 
}
header .logo img{
  width:6em;
  height: 3em;
}
/*  ====== end of logo style==== */
/*==== Start of About section */

.About{
  flex-direction:column;
  padding-top: 2em;
}
.About>div{
  width: 95%;
}
.About .img_network img{
  width:90%;
  height:auto;
}

.card{
  color: white;
  font-size: 15px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: 3%;
  text-align: center;
  
}

/*===End of About us section ==== */

/*==== Video for dummines */
.y_video{
  padding-top:1em ;
  width:100%;
}
.y_video>iframe{
  margin-left: auto;
  margin-right: auto;
  width:90%;
  height:480px;
}

/*===End of video ===  */



     
/*three steps*/

.three-steps>div{
  top: 2em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;

}
.steps{
  display: flex;
  flex-direction: column;
 
}
.steps>div{
  margin: 1em;
 
}


.threestep-text .h11{
  top: 2em;
}
/*end-threesteps*/

/*why chose  us*/

.security{
display: flex;
flex-direction: column;
}

.security>div{
  margin: 1em;
}
/*end-why chose  us*/

/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
}

.planns-cards{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.planns-cards>div{
  text-align: center;
  width: 45%;
  margin:2%;
  left: 3%;

}
.planns-cards>div>p{
  color: white;
}
.planns-cards>div a{
 padding: 5px;
 width: 15px;  
}

/*end-investment plans*/

/*statistics*/

.stat-text{
  text-align: center;
  color: white;
}
.stat-text p{
 color: white;
}
.peoplee{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.peoplee>div{
  width: 40%;
 
}

.imagess>i{
  font-size: 4em;
}
.imagess>div{
 margin: 1em;
}
.imgg>img{
  border-radius: 6px;
  width: 95%;
}

/*end-statistics*/

/*FAQ*/

.faq-text{
  width: 95%;
  margin: 2%;
  padding: 1%;
}
.faq-text h3{
  color: white;
}
.faq-text p{
  color: white;
}
.questions{
  display: flex;
  flex-direction:column;
}
.questions>div{
 margin: 1em;
  
}

/*end-FAQ*/

/*about*/

.about-head{
  text-align: center;
  color: white;
}

.about-content{
  display: flex;
  flex-direction: column;
  width: 95%;
}
.about-content>div{
  width:90% ;
  margin: 5px;
  
}

.about-content .picc{
  width: 100%;
 
}
.picc>img{
  border-radius: 6px;
  width:95%;
  margin: 1%;

}


/*end-about*/
/*leave a mesage form*/

.formmm{
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 95%;
  margin: 1%;
  padding: 4px;
}
.formmmm>input[type=text], .formmmm>select, .formmmm>textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  }
.formmm>div{
  text-align: center;
}
.containerr{
  width: 97%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.containerr .widgett{
  width: 96%;
  height:29em;
  margin: 1%;
  background-image: rgb(253, 253, 253);
  background-color: white;
}
/*end-leave a mesage form*/

h1{
font-size: 23px;
    }

 
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 17px;
    }
    p{
        font-size:15px;
    }
    span{
        font-size:14px;
    }
    strong{
        font-size:15px;
    }
    blockquote{
        color:maroon;
        font-style:italic;
        font-size:13px;
    }
    a{
        font-size: 15px;
    }
    a:hover{
        color:rgb(16, 45, 173);
        
    }
    a:link{
        color:maroon;
        
    }
    a:visited{
        color:#0033ff;
    }
    a:active{
        color:maroon;
        
    }
    ul li{
        font-size:15px;
        color:black;
    }
    
.header{
    height: 3em;
}

.menu{
    position: absolute;
    top: 7px;
    right: 3px;
    padding: 3px;
    width:10%;
    background-color: transparent;

}
.hello{
    position: absolute;
    top:5em;
    right: 0;
    color: black;
    display: none;
}
.menu .bars{

    background-color: white;
    margin-top: 3px;
    margin-bottom: 2px;
    height: 4px;
    width: 100%;

}

.menu_content{
    width: 12em;
    background-color: black;
    background-image: linear-gradient(to bottom right, white,grey);
    position: absolute;
    top:-10px;
    right:-4px;
    height: 50em;
    z-index: 1;
    animation: slide 1s linear;
    display: none;
    margin: 0;
    box-shadow: 0px 0px 5px 3px grey;
}

.menu_content .dropdown div{
    width:5em;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeup 1s linear;


}
.menu_content .dropdown div a:link, .menu_content .dropdown div a:visited{
    color:white;
    text-decoration: none;

}

.menu_content .dropdown div a:hover{
  color: rgb(214, 174, 44);
  text-decoration: underline;
}
.menu:hover .menu_content {
    display: block;
} 
.hrline{
    background-color: rgb(7, 7, 7);
    border: 2px solid rgb(2, 2, 2);
}
.log_reg{
    display: flex;
    flex-direction: column;
}
.log_reg div a:link{
  text-decoration: none;
  color: white;
  font-size: 20px;

}
.log_reg div a:visited{
  color:white;
}
.log_reg div a :hover{
  opacity: 0.8;
}
.log_reg div {
  background-color:white;
  margin: 3px;
  padding: 4px;
  border-radius: 3px;
  width: 80%;
  margin-right: auto;
  margin-right: auto;
  transform: translate(10%,50%);
  animation: fadeup 1s linear;
}

/* login and registation for tablet*/
  
.loginn{
    display: flex;
    flex-direction: row;
  }
  
  .loginn{
  position: absolute;
  right: 11%;
  top: 7px;
  }
  
  
  
  .loginn div{ 
    margin-left: 2px;
    border-radius: 4px;
    padding: 3px;

    }
    
  .loginn div a{ 
    font-size: 17px;
   
    }
/*========loaging style===*/
.rotation{    
    left:40%;
}
/*=====End loading=====*/


/* span closes */

.dropdown>span{
    position: absolute;
    top: -16px;
    left: 2px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: -1px 0px 2px 0px;
    color:white;
    font-size: 30px;
}
.dropdown  span i{
    color:rgb(247, 25, 25);
    font-size: 20px;
}
/* end span close*/

/*background theme*/

/* line-chART*/
.line-chart{
    color: rgb(90, 90, 86);
    position: absolute;
    font-size: 3em;
    top: 8%;
    left: 70%;
  }
  /*end of line-chart*/
  
  /* font  awesome dollar icon*/
  .dollar{
      color: #eee488;
      position: absolute;
      font-size: 2em;
      top: 22%;
      left: 60%;
   
    }
    /* end of font awesome dollar */
  
  
  /* fa dollar2*/ 
  .dollar2{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 92%;
  }
  /*end fa dollar2*/
  
  /* fa euro*/ 
  .euro{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 70%;
  }
  /*end fa euro*/
  
  /* fa yen*/ 
  .yen{
    color: rgb(253, 222, 136);
    position: absolute;
    font-size: 2em;
    top: 55%;
    left: 50%;
  }
  /*end fa yen*/
  
  
  
    /* fa credit card*/
    .credit-card{
      color: rgb(243, 243, 219);
      position: absolute;
      font-size: 2em;
      top: 35%;
      left: 70%;   
    }
    /*end of fa credit card*/
   
  /* fa money*/
  .money{
      color: rgb(218, 248, 178);
      position: absolute;
      font-size: 2em;
      top: 22%;
      left: 85%;
    }
  /*end fa money*/
  
   /* fa money2*/ 
  .money2{
    color: rgb(233, 248, 178);
    position: absolute;
    font-size: 1em;
    top: 20%;
    left: 50%;
  }
  /*end fa money2*/
  
   /* fa money3*/ 
   .money3{
    color: rgb(250, 249, 176);
    position: absolute;
    font-size: 1em;
    top: 10%;
    left: 50%;
  }
  /*end fa money3*/
  
   /* fa money4*/ 
   .money4{
    color: rgb(223, 248, 177);
    position: absolute;
    font-size: 1em;
    top: 15%;
    left: 50%;
  }
  /*end fa money4*/
  
   /* fa money5*/ 
   .money5{
    color: rgb(242, 243, 166);
    position: absolute;
    font-size: 1em;
    top: 25%;
    left: 50%;
  }
  /*end fa money5*/
  
  /* fa money6*/ 
  .money6{
    color: rgb(224, 243, 170);
    position: absolute;
    font-size: 1em;
    top: 30%;
    left: 50%;
  }
  /*end fa money6*/
  
  /* fa money7*/ 
  .money7{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 35%;
    left: 50%;
  }
  /*end fa money7*/
  
  /* fa money8*/ 
  .money8{
    color: rgb(229, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 40%;
    left: 50%;
  }
  /*end fa money8*/
  
  /* fa money9*/ 
  .money9{
    color: rgb(246, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 50%;
  }
  /*end fa money9*/
  
  /* fa money10*/ 
  .money10{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 56%;
  }
  /*end fa money10*/
  
  /* fa money11*/ 
  .money11{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 62%;
  }
  /*end fa money11*/
  
  /* fa money12*/ 
  .money12{
    color: rgb(249, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 68%;
  }
  /*end fa money12*/
  
  /* fa money13*/ 
  .money13{
    color: rgb(232, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 74%;
  }
  /*end fa money13*/
  
  /* fa money14*/ 
  .money14{
    color: rgb(244, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 80%;
  }
  /*end fa money14*/
  
  /* fa money15*/ 
  .money15{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 86%;
  }
  /*end fa money15*/
  
  /* fa money16*/ 
  .money16{
    color: rgb(224, 250, 190);
    position: absolute;
    font-size: 1em;
    top: 45%;
    left: 92%;
  }
  /*end fa money16*/
  
  
  
      /* in industry*/
      .industry{
    
        color: rgb(90, 90, 86);
        position: absolute;
        font-size: 3em;
        top: 20%;
        left: 70%;
      }
    /* end of fa industry*/
    
    /* fa tree*/
    .tree{
    
        color: rgb(63, 63, 61);
        position: absolute;
        font-size: 6em;
        bottom:-1%;
        top:70%;
      }
    
    /*  end fa tree*/
  
     /* fa tree2*/
     .tree2{
    
      color: rgb(100, 100, 96);
      position: absolute;
      font-size: 2em;
      bottom:0%;
      top:55%;
      left:30%;
    }
  /*  end of fa tree2*/
  
  /*  fa tree3*/
  .tree3{
  color: rgb(88, 86, 86);
  position: absolute;
  left:50%;
  top: 62%;
  font-size: 4em;
  /* fa tree3 */
  }
  
  
     /* fa tree4*/
     .tree4{
    
      color: rgb(78, 78, 75);
      position: absolute;
      font-size: 3em;
      bottom:0%;
      top:55%;
      left:10%;
    }
  /*  end of fa tree4*/
  
  /*  fa tree5*/
  .tree5{
    color: rgb(92, 90, 90);
    position: absolute;
    left:70%;
    top: 78%;
    font-size: 3em;
  }
    /* fa tree5*/
  
  /*fa sun*/
  .sun{
      color: rgb(253, 240, 155);
      position: absolute;
      font-size: 3em;
      left:-1em;
      top: 2em;
      animation:sun 30s linear infinite;
  
    }
   /* end of fa sun*/
  
   /*fa cloud */
  
   .cloud{
          color: rgb(102, 102, 101);
          position: absolute;
          font-size: 3em;
          left:0em;
          top: 5em;
          animation:cloud 20s linear infinite;
   }
   /*end fa cloud*/
  
   /* fa cloud 2 */
   .cloud2{
      color: rgb(109, 109, 105);
      position: absolute;
      font-size: 3em;
      left:0em ;
      top: 0em;
      animation:cloud2 20s linear infinite;
   } 
   /* fa lightning */
   .lightning{
    color: rgb(109, 109, 105);
    position: absolute;
    font-size: 3em;
    left:60px;
    top: 2em;
  }    
  /* fa lightning */
  
     /* fa home*/
     .home{
    
      color: rgb(230, 230, 219);
      position: absolute;
      font-size: 1em;
      top:70%;
      left: 4em;
    }
  /*  end fa home*/
   
     /* fa home*/
     .home2{
    
      color: rgb(243, 243, 240);
      position: absolute;
      font-size: 2em;
      top:80%;
      left: 4em;
    }
  /*  end fa home*/
  
     /* fa home3*/
     .home3{
    
      color: rgb(247, 247, 242);
      position: absolute;
      font-size: em;
      bottom:0%;
      top:70%;
      left:30%;
    }
  /*  end of fa home3*/  
  
  /*  fa home4*/
  .home4{
    color: rgb(245, 238, 238);
    position: absolute;
    left:50%;
    top: 80%;
    font-size: 2em;
  }
    /* fa home4 */
    
  /*  fa car*/
  .car{
    color: rgb(92, 90, 90);
    position: absolute;
    left:45%;
    top: 84%;
    font-size: 1em;
  }
    /* fa car*/
    /*========loaging style===*/
  .rotation{   
      left:40%;
  }
  /*=====End loading=====*/
  
  /* span closes */
  
 /*Widget style */
.widget{
    position: absolute;
    top:3em;
  }
  /*end of widget style*/

/*==== Smart investor text======*/
.background-theme .smart_investor{
    overflow: visible;
}
 .smart_investor{
    top:8em;
    position:absolute;
    left: 8%;
  font-size: 30px;
  width: 26em;
  height: 24em;
  border-radius: 50%;
  }
  .smart_investor .text_smart{
    position: relative;
    top: 2em;
    right:8em;
    font-size: 24px;
  }
  
  .text_welcome{
    top:37em;
    left: 2em;
    width:90%;
    height: 5em;
  }
  .milestone{
    top: 12em;
    left: 11%;
    width:75%;
    border-radius: 20px;
    height: 2em;
  }
  
  .milestone>.fill{
    border-radius: 20px;
    padding-right: 8px;
   }
   .milestone .line1,.milestone .line2{
       width: 1px;
       height: 3em;
       top:-8px;
   }
   
  .milestone .amount_invested,.milestone .milestone_invested{
    font-size: 14px;
  }
  .milestone .amount_invested{
    top:-2em;
    left:2px;
  }
  .milestone .milestone_invested{
    top:-2em;
    right: 2px;
  }
  .milestone .BTC1{
    top:2em;
    left:2px;
  }
  .milestone .BTC2{
    top:2em;
    left:20em;
  }
  .milestone .line1{
  
  left: 30%;
  }
  .milestone .line2{
  left: 70%;
  }

  
/*====Animations for sun and clouds  */
@keyframes cloud2{
  from{
      left:0em;
      top:0em;
  }
  to{
      left:13em;
      top:3em;
  }    
}      
@keyframes cloud{
from{
   left:0em;
   top:5em;
}
to{
   left:13em;
   top:0em;
} 

}   
@keyframes sun{
from{
   left:-1em;
   top:2em;
}
to{
   left:13em;
   top:-1em;

}
}

@keyframes  loading_left {
    from{
        left: 0%;  
    }
    to{
        left: -100%;
    }
    
}


@keyframes  loading_right {
    from{
        right: 0%;  
    }
    to{
        right: -100%;
    }
    
}

@keyframes   text-fade{
    0%{
        color:white;  
    }
    50%{
        color: black;
    }
    100%{
        color: white;
    }
    
}



@keyframes  rotation1 {
    from{
        transform: rotate(20deg);  
    }
    to{
        transform: rotate(360deg);
    }
}
    
@keyframes  rotation2 {
    from{
        transform: rotate(0deg);  
    }
    to{
        transform: rotate(-360deg);
    }
    
}
/*=====End Of style For loader=====*/
  
/* icons opacity*/
.opa{
    opacity: 0.2;
}
  /* background theme*/
.background-theme{
    width: 100%;
    height: 100%;
    position: relative;
    top :0em;
    background: linear-gradient(rgb(13, 13, 14),rgb(90, 88, 88), rgb(19, 18, 18)) ;
    z-index: 0;
    overflow: hidden;
    margin: 0;
}
/* end of background theme*/

/*==== Smart investor text======*/
.smart_investor{
    position: relative;
    z-index: 0;
color: rgb(20, 155, 218);
font-weight: bold;
background-image:radial-gradient(rgb(194, 187, 187), black);
text-align: center;
border-radius: 50%;
}
.smart_investor:hover{
    background-image:radial-gradient(rgb(231, 210, 210), rgb(5, 5, 5)) 
}

.smart_investor .text_smart{
    animation: fadeup 1s linear;
  }

.text_welcome{
    position: absolute;
    font-size: large;
    color: white;
    z-index: 1;
    animation: fadeup 1s linear;
}
.milestone{
    position: absolute;
    border: 1px solid white;
    z-index: 1;
    padding: 0;
}
.milestone>.fill{
 background-image: linear-gradient(to bottom right,white, rgb(0, 183, 255), rgb(32, 85, 230));
 overflow: hidden;
 height: 100%;
 margin: 0;
 text-align: right;
 color: white;
 padding-top: auto;
 padding-bottom: auto;
 font-weight: bold;
}
.milestone .line1,.milestone .line2{
    width: 1px;
    background-color: white;
    z-index: 1;
    position: absolute;
}
.milestone .amount_invested,.milestone .milestone_invested{
        color: white;
        position: absolute;
        z-index: 1;
        font-weight: bold;
        animation: fadeup 1s linear;
    }


.investt .iconss{
font-weight: bold;

font-size: 1.5em;
color: rgb(232, 231, 236);
width:80%;
margin-left: auto;
margin-right: auto;
text-align: center;
}
/*======End of Banner=======   */


/* start of body */
.body_style{
    background-color: rgb(26, 25, 25);
}
/* end of body */

  /* start of web logo */
  .logo_2 {
    height: 6em;
    width: 12em;

}
.logo_img{
    height: 3em;
    width: 6em;
    text-align: center;
}
    /* end of web logo */

/*start of center box*/
.nav_link2{
    position: absolute;
    top:10px;
    right: 1em;
}    
.nav_link2 a:link{
    text-align: right;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.nav_link2 a:visited{
color: white;
text-decoration: none;
}

.nav_link2 a:hover{
    color: blue;
    text-decoration: underline;
    opacity: 0.8;
    }
/* end of center box */


/*==== Start of About section */

.About{
    width:100%;
    background-image:linear-gradient( white , white, rgb(255, 255, 255));
    position:relative;
    display:flex;
}
.About .img_network img{
    animation: fadeup 1s linear;
}

.card{
    background-image: linear-gradient(to bottom right, rgb(0, 183, 255), rgb(32, 85, 230));
    color: white;
    border-radius: 4px;
    padding: 4px;
    border:1px dotted black;
    
}
.card p{color: white;}


/*===End of About us section ==== */

/*==== Video for dummines */
.y_video{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.y_video>iframe{
    margin-left: auto;
    margin-right: auto;
}

/*===End of video ===  */

/*Animations for FadeUp */
.fadeup{
    animation:fadeup 1s linear ;
}
@keyframes fadeup{
    from{
      opacity: 0;
      top:-2em;
      position: relative;
    }
    to{
      opacity: 1;
      top:0em;
      position: relative;
    }
    
  }
  /*===End of animation  */
  
/*Animations for Fadeout */
.fadeout{
    animation: fadeout 1s linear;
}

@keyframes fadeout{
    from{
      opacity: 0;
      transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
  }
  /*===End of animation  */
  
/*style for logo on top left */
header .logo img{
    animation: fadeup 2s linear;
  }
  /*====End of logo */

/*pop up for file uploads */
.response{
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    z-index: 1001;
}
.response .response_cancel{
    font-size: 35px;
    color: red;
    position: absolute;
    top:-5px;
    right: 0px;

}
/*end of pop for file uploads*/

/*animated text sliding */

.text-animate{
  position: absolute;
  left: 15%;
  top: 60%;
}

.text-animate #text1,#text2,#text3,#text4,#text5{
  font-size: 17px;
  padding: 0px 5px 0px 5px;
}
/*end of style */

.steps{
  display: flex;
  flex-direction: column;
 
}
.steps>div{
  margin: 1em;
 
}



.three-steps{
    position: relative;
    width: 100%;
    margin: 3%;
    margin-left: 0%;
}


.threestep-text{
    align-content: center;
    text-align: center;

}
/*end-three steps*/



/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
}
/*why chose us*/
.chose{
    width: 100%;
    position: relative;
    text-align: center;
   
}
/*end-why chose us*/

/*investment plans*/
.investmentss{
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
    
}   
/*end-investment plans*/


/*FAQ*/
.faqq{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
    width: 100%;
    position: relative;
   
}
.faq-text{
    text-align: center;
    color:white;
  }
/*endFAQ*/

.about-content{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.about-content>div{
  width:95% ;
  
}
/*about bitcoin*/


.aboutbitcoin{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);
}

/*end-about bitcoin*/

/* smart investa last blocka*/
.lastblock>h1{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.last-blockdiv>div{
  margin: 0.5em;
  font-size: 1em;
}
.quick-links h5{
  font-size: 1em;
}
.services h5{
  font-size: 1em;
}


/* start of the dashboard page */

.sidebar {
  display: none;
}

.turning {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.wrapper-box {
  display: inline;
  width: 100%;
  height: 100%;
}
.w-box {
  width: 100%;
  height: 100%;
}

.header-dash {
  width: 100%;
  position: relative;
  background-color: black !important;
  color: white;
  height: 4em;

}
.logo_1 { 
  width: 6em;
  height: 4em;
  text-align: left;
  margin-left: 0.10em;
  margin-bottom: -1em;

}
.search {
  text-align: right;
  margin-right: 1em;
  line-height: 30px;
  padding-top: 15px;
  border-radius: 6px;
  margin-top: -3em;
  height: fit-content;

}
.dash {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-right: 27px;
  margin-left: 27px;
}
.dash div h1 {
  color: black;
  height: fit-content;
  margin-top: 10px;
}
.dash div ul li {
  list-style: none;
}
.style {
  display: flex;
  flex-direction: row;
  padding: 1em;
  color: black;
}
.change::before {
  display: inline-block;
  padding-right: 0.5em;
  color: #6c757d;
  content: "/";
}
/* start of dash_contant */
.dash_content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 1.2em;
  

}
.box_balance {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #007bff;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance2 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #dc3545;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;

}
.box_balance3 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #20c997;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance4 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #ffc107;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance5 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #28a745;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance6 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:#001f3f;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance7 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.box_balance8 {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:  #6c757d;
  width: 45%;
  height: 5em;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
}
.box_balance9{
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #17a2b8;
  width: 94%;
  height: 5em;
  border-radius: 3px;
  margin-right: 1em;
  margin-right: 1em;
}
.money_balance { 
  font-size: 1.25em;
  font-weight: 700;

}
.fa {
  color: white;
  margin-top: 18px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px solid gray;
}
.info_icon {
  text-align: center;
  width: 25%;
  margin-top: 0.7em;
}
.info_icon a {
  width: 30%;
  height: 30%;
  padding: 1em;
  margin-left: 0.70em;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)!important;
}
.info_icon i {
  font-weight: bold;
}
a.elevation-1 {
  width: 1em;
  height: 1em;
  box-shadow: 2px solid rgb(14, 13, 13);
}
.infom {
  display: flex;
  flex-direction: column;
  margin-left: 1.6em;
  line-height: 30px;

}
/* start of investing plan */
.investing-BOX {
  width: 93.5%;
  border: 1px solid gray;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
  border-radius: 3px;
}
.header_TO {
  height: fit-content;
  border-bottom: 1px solid grey;
  padding: 10px;
  color: black;
}
.control-plan {
  display: flex;
  flex-direction: column;
}
.invest-inputs {
  position: relative;
  margin-left: 1em;
}
.selectionplan {
  width: 100%;
  height: fit-content;
  margin-top: 1em;
  border-radius: 3px;
}
.selectionplan2 {
  width: 97.5%;
  height: 2em;
  height: fit-content;
  margin-top: 1em;
  padding-left: 1em;
  border-radius: 6px;

}
#selectplans-period {
  margin-top: 1em;
  height: fit-content;
  height: 2em;
  width: 97.5%;
  padding-left: 1em;
  border-radius: 6px;

}
#selectplans-period1 {
  margin-top: 1em;
  height: fit-content;
  height: 2em;
  width: 97.5%;
  padding-left: 1em;
  border-radius: 6px;

}

/* stary of the investing cards */
.invest-cards {
  display: block;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: auto;
  background-color:#17a2b8;
  margin-top: 2em;
  margin-right: auto;
  padding: 2em;
  color: white;
}
#invest-cards1 {
  display: block;
}
#invest-cards2 {
  display: none;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: auto;
  background-color:#17a2b8;
  margin-top: 2em;
  margin-right: auto;
  padding: 2em;
  color: white;
}
#invest-cards3 {
  display: none;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: auto;
  background-color:#17a2b8;
  margin-top: 2em;
  margin-right: auto;
  padding: 2em;
  color: white;


}
#invest-cards4 {
  display: none;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  color: white;
  margin-left: auto;
  background-color:#17a2b8;
  margin-top: 2em;
  margin-right: auto;
  padding: 2em;
  color: white;

}




/* stary of the investing cards */
.btnex {
  display: none;
  margin-left: 30%;
  margin-top: 3em;

}

#btnexecute {
  height: 2em;
  width: 10em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #17a2b8;
  color: white;
}
.btnex2 {
  margin-left: 30%;
  margin-top: 3em;
}
#btnexecute2 {
  height: 2em;
  width: 10em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #17a2b8;
  color: white;
}
.highlight-terms p {
  color: orange;
  margin-left: 3em;
  margin-top: 1em;
  margin-right: 3em;

}
.highlight-terms p a {
  color: blue;
}

/* end of investing plan */


/* start of wedges */
.wedges {
  height: 2em;
}

.wedges  iframe{
  height: 3.5em;
}
/* end of the wedge */

/* start of the Btc CHart */
.chart {
  height: 20em;
}

.chart iframe{
  height:inherit;
}
/* end of the btc chart */

/*==End of Chart */

/* start of live trading inputs */

.container_box {

  
}
.header_for {
  height: fit-content;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: black;
  font-weight: bold;

}
.trading1 {
  margin-top: 10px;
}

#cryptoforex {
  width: 100%;
  border-radius: 3px;
  height: 2.5em;
}
.trading {
  margin-top: 1em;
  margin-bottom: 0.5em;

}
.control {
  padding-left: 20px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 20px;
}
.controlmin_1{
  width: 100%;
  margin-top: 18px;
}
.controlmin_1 input {
  width: 100%;
  margin-right: 20px;
  padding-right: 8px;
  border-radius: 3px;
  height: 2.5em;
}
#currency {
  margin-bottom: 18px;
}
.controlmin_2 {
  margin-top: 18px;
}
.controlmin_2 input {
  margin-right: 18px;
  padding-right: 25px;
  width: 100%;
  border-radius: 3px;
  height: 2.5em;
}
#entry {
  margin-bottom: 18px;
}
#stoploss {
  margin-bottom: 18px;
}
#takeprofit {
  margin-bottom: 18px;
}
.select-input {
  margin-bottom: 18px;
}
#execute {
  width: 100%;
  border-radius: 3px;
  height: 2.5em;
}
.btnsub {
  width: 98%;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 3px;
  margin-top: 1em;
  text-align: center;
}
/* end of the live trading */

/* start of recent trading history */
.h5 {
  color: blue;
  font-size: 1em;
  text-align: center;
  margin-top: 3em;
}
/* start of the table history */
.table {
  display: table block;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(161, 208, 252);
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;
}
.tablehead {
  display: table-header-group;
  vertical-align: middle;
}
.tablehead tr {
  display: table-row;
}
.tablehead tr th {
  display: table-cell;
}
.table td {
  vertical-align: top;
}
.scoll-table {
  display: block;
  width: 100%;
  overflow-x: auto;

}

/* end of the table history */

/* start of the forex crossrate chart */
.crossrate {
  position: relative;
  width: 100%;
  height: 70%;
  margin-top: 20%;
  display: block;
  overflow-x: auto;

}
.FOREX {
  border: 1px solid grey;
  width: 100%;
  height: 2em;
  padding: 10px;
  border-radius: 3px;
  height: fit-content;
}
.FOREX span {
  color: black;
}
.cross-chart {
  height: 20em;
}


/* end of the forex crossrate chart */

/* start of footer */
.footer {
  background: #fff;
border-top: 1px solid #dee2e6;
color: #869099;
padding: 1em;
text-align: center;
}
.footer strong a {
  text-decoration: none;
  color: blue;
}

/* end of footer */


/* end of dash_contant */


/* start of deposit page*/

.transact-flex {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.payment {
  border: 1px solid gray;
  height: 40%;
  width: 95%;
  padding: 1em;
  border-radius: 3px;
  margin: 1em;
}
.span-payment {
  color: black;
}
.payment-wallet {
  padding-top: 0.50em;
  border-radius: 3px;
  margin-bottom: 1em;

}
.payment-wallet select {
  height: 2.5em;
  width: 100%;
}
#btc-amount {
  width: 100%;
  border-radius: 3px;
  height: 2.5em;
 }
 #depo-btc {
   width: 45%;
  border-radius: 4px;
  height: 15%;
 }
 .button-sub {
   margin-left: 40%;
   margin-top: 5%;
 }
.payment-wallet h5 {
  height: fit-content;
  color: blue;
}

.notify-deposit {
  border-radius: 3px;
  border: 1px solid grey;
  width: 95%;
  margin: 1em;
}
.h5change {
  color: black;
}
.h5change h5 {
  text-align: center;
  padding: 1em;
}
.text-deposit {
  color: blue;
}
.text-deposit strong p {
  padding: 0 1em;
  font-style: italic;
}
.form-deposit {
  margin-left: 1em;
  color: black;
  font-weight: bold;
}
.form-deposit label {
  margin-bottom: 0.50em;
}
#method-payment {
  width: 95%;
  margin-bottom: 0.50em;
  line-height: 50px;
  height: 2em;
  border-radius: 3px;

}
.method-payment {
  width: 97.5%;
  margin-bottom: 0.50em;
  border-radius: 3px;
  line-height: 30px;
}
.btn-deposit {
  color: white;
  background-color: blue;
  width: 96%;
  height: 2em fit-content;
  line-height: 30px;
  border-radius: 4px;

}

/* start of the table of deposit */
.history-deposit {
  padding: 1em;
  border: 1px solid #ccc;
  width: 95%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom :1em
}
.history-head h4 {
  color: black;
  text-align: center;
}
.select-entry {
  width: 50%;
}
.entry-search {
  color: black;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  width: 100%;
}
.search-btn{
  text-align: right;
  margin-left: 20%;
  border-radius: 5px;
  border: none;
}
.search-btn label {
  text-align: left;
}
.search-btn label input {
  border-radius: 2px;
}
.table-ta {
  color: black;
  display: table;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px;
  height: 2em;
}
.tablehead2{
  display: table-header-group;
  vertical-align: middle;
  height: 2em;
}
.tablehead2 tr {
  display: table-row;
}
.tablehead2 th {
  display: table-cell;
}
.tbody {
  border-collapse: collapse;
  height: 3em;
  background-color: rgba(0,0,0,.05);
}
.tbody tr td{
  border-collapse: collapse !important;
  text-align: center;
  border: 0;
  box-sizing: content-box;
}

.end-part {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  width: 100%;
}
.end-shift {
  width: 50%;
}
.prev-next {
  width: 50%;
  justify-content: right;
}
.prev-next ul {
  display: flex;
  flex: 0 0 50%;
  justify-content: end;
}
.prev-next ul li {
  border: 1px solid grey;
  height: 2em;
  border-radius: 3px;
  list-style: none;

}
.prev-next ul li a {
  text-decoration: none;
  padding: 5px;
  color: black;
}
/* end - depossit table */


/* start of the withdrawal section */
.withdrawal-fullbody {
  width: 100%;
  padding: 2em;
  margin: 1em;
}
.flexdive {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
}
.withdraw-box {
  width: 100%;
  border :1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  margin-right: 1em;
  margin-bottom: 3em;
}
.h5withdraw {
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  padding: 1em;
}
.content-bances {
  padding: 1em;
}
.pfloater {
  margin-top: 1em;
  margin-bottom: 1em;
}
.float-right {
  float: right;
  font-size: 1em;
  font-weight: bold;
}
.withdrawal-bonus {
  width: 100%;
  border :1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  margin-bottom: 3em;
}
.method2 {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 4px;
  margin-top: 2em;
}
.h4changing h4 {
  font-size: 1.25em;
  font-weight: bold;
}
#payment-options {
  width: 100%;
  height: 2em;
  border-radius: 4px;
}
.input-withdraw {
  width: 100%;
  height: 2em;
  border-radius: 4px;
}
.btn-withdraw {
  text-align: center;
}
#subbtn-withdrawal {
  width: 30%;
  height: 2em;
  color: white;
  background-color: blue;
  margin-top: 3em;
  text-align: center;
  border-radius: 4px;
}

/* end of the withdrawal section */

/* start of the profile */
.profile-content {
  width: 100%;
  padding: 1em;

}
.profile-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
}
.profile-avater {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  width: 100%;

}
.profile-pic {
  width: 6em;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  
}
.users-control {
  margin-top: 3em;
}
.users-control2 {
  margin-bottom: 2em;
}
.filebtn {
  background-color: #6c757d;
  color: white;
  height: 2.5em;
  width: 80%;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 4px;
  padding-top: 6px;
}
.btn-none {
  display: none;
  padding: 1em;
}
#avator-upload {
  background-color: #6c757d;
  color: white;
  height: 2em;
  width: 80%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 4px;

}
.avater-shift input{
  margin-top: 2%;
}
.profile-details {
  border: 1px solid #ccc;
  padding: 1em;
  width: 100%;
  margin-left: 1em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}
.profile-header {
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}
.profile-header ul {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

}
.profile-header ul li{
  list-style: none;
  margin-right: 6px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
}
.profile-header ul li a {
  text-decoration: none;
  padding: 0.50em 1em;
  background-color: blue;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profile-header ul li a:active {
  background-color: white;
  color: black;
}
.profile-content2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: black;
  height: 60%;
  margin-top: 1em;
}
.name-inputs {
  width: 95%;
  height: 2.5em;
  border-radius: 4px;
  padding: 0.50em;
  margin-bottom: 0.50em;
}
.diveform {
  width: 50%;
}
.diveform label {
  font-weight: bold;
  padding-bottom: 0.25em;
}
#status {
  width: 95%;
  height: 2.5em;
  background-color: #e9ecef;
}
#countri {
  width: 95%;
  height: 2.5em;
  border-radius: 4px;
}

.p-btnsub {
  margin-top: 25px;
  margin-left: 30%;
}

.profile-content3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  height: 60%;
  margin-top: 1em;
}
.name-inputs3 {
  width: 100%;
  height: 2.5em;
  border-radius: 4px;
  padding: 0.50em;
  margin-bottom: 0.50em;
}
.diveform3 {
  width: 100%;
}
.diveform3 label {
  font-weight: bold;
  padding-bottom: 0.25em;
}
.p-btnsub3 {
  margin-top: 50px;
  margin-left: 20%;
}
/* end of banking details */
/* end of the profile */
  /* invest in bitcoin*/
  .investt{
    position: absolute;
    top: 75%;
    left:30%;
    font-size: 90%;
    padding-bottom: 9px;
    }
    
    .investt .invest_btn{
    border-radius: 3px;
    padding: 4px;
    font-size: 17px;
    text-align: center;
    
    }
    
    .investt .iconss{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(232, 231, 236);
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    
    /* end of invest iin bitcoin*/

 /* smart investa last block*/
.lastblock{
    background: linear-gradient(to bottom,rgb(32, 32, 32),white);   
}
 /* end-smart investa last block*/ 

/* start of the referral */
.refferal-body {
  padding: 1em;
  width: 100%;
}
.refferal-link {
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
 
}
.refferal-link label {
  font-weight: bold;
}
.refferal-link input {
  width: 100%;
  height: 2.5em;
  border-radius: 4px;
  padding: 1em;
}
.referral-members {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1em;
  margin-top: 2em;
}
.table2 {
  display: table;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(161, 208, 252);
  border-top-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
  border-left-color: grey;
  border-radius: 3px
}
.table2 thead {
  display: table-header-group;
  vertical-align: middle;
}
.table2 thead tr {
  display: table-row
}
.history-deposit2 {
  padding: 1em;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  margin-top: 2em;
}
/* end of the referral */

/* center box */
.center{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
}
.h1_style{
  color: blue;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
}
.icon {
  text-align: left;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: 400;
  padding-right: 10px;
  color: orange;
}
.login1 {
  border-radius: 6px;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  border-color: blue;
}
.check {
  text-align: left;
  margin-left: 2em;
}
.link_reg{
  color: blue;
  margin-left: 1em;
}
.link_reg a{
  color: blue;
}

/* end of center box */

/* logout styles */
.credentials2-logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.subbtn2 {
  width: 35%;
}
.subbtn3 {
  width: 35%;
}
/* end logout styles */


/*Style for deposit user */
.deposit_user{
  width: 100%;
  font-weight: bold;
}
.deposit_user .deposit_name{
  font-size: 19px;
}

.deposit_user .deposit_value{
  font-size: 19px;
}
/*====End of Style ====== */










}
 

