@media only screen and (min-width: 600px) and (max-width: 1000px) {

    @media only screen and (min-width: 600px) and (max-width: 1000px) {

        /* nev bar nenu */
    
        .button{
            background-color: red;
            display: block;
        }
    
        
    .testing{
        color:white;
    }
    .header{
        height: 4em;
    }
    
    .menu{
        display: block;
    }
    
    
    .menu{
        position: absolute;
        top: 12px;
        right: 3px;
        padding: 3px;
        width:7%;
    
    }
    .menu .bars{
    
        background-color: white;
        margin-top: 4px;
        margin-bottom: 4px;
        height: 6px;
        width: 100%;
    
    }
    
    .menu_content{
        width: 12em;
        background-color: black;
        background-image: linear-gradient(to bottom right, white,grey);
        position: absolute;
        top:-10px;
        right:-4px;
        height: 40em;
        z-index: 1001;
        animation: slide 1s linear;
        display: none;
        margin: 0;
        box-shadow: 0px 0px 5px 3px grey;
    }
    
    .menu_content .dropdown div{
        width:5em;
        height: auto;
        background-color: black;
        color: white;
        border-radius: 3px;
        padding: 3px;
        margin:10px;
        margin-left: auto;
        margin-right: auto;
        animation: fadeup 1s linear;
    
    
    }
    .menu_content .dropdown div a:link, .menu_content .dropdown div a:visited{
        color:white;
        text-decoration: none;
    
    }
    
.menu_content .dropdown div a:hover{
  color: rgb(214, 174, 44);
  text-decoration: underline;
}
    
    .menu:hover .menu_content {display: block;
    } 
    .hrline{
        background-color: rgb(3, 3, 3);
        border: 2px solid rgb(2, 2, 2);
    }
    }

 /*start of login and registration in manu */   
.log_reg{
  display: flex;
  flex-direction: column;
}
.log_reg div a:link{
text-decoration: none;
color: black;
font-size: 20px;
}
.log_reg div a:visited{
color:rgb(10, 10, 10);
}
.log_reg div a :hover{
  text-decoration: underline;
color: rgb(165, 112, 42);
}
.log_reg div {
background-color:white;
margin: 3px;
padding: 4px;
border-radius: 3px;
width: 80%;
margin-right: auto;
margin-right: auto;
transform: translate(10%,50%);
animation: fadeup 1s linear;
/* end login and registration */
}
    
           
/*========loaging style===*/
.rotation{  
    left:45%;
  }
  /*=====End loading=====*/
 
/* span */
.dropdown>span{
  position: absolute;
  top: -16px;
  left: 2px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: -1px 0px 2px 0px;
  color:white;
  font-size: 30px;
}
.dropdown  span i{
  color:rgb(247, 25, 25);
  font-size: 20px;
}
/* span */


/*background theme*/
#background-theme{
height: 100%;
}

/* line-chART*/
.line-chart{
  color: rgb(90, 90, 86);
  position: absolute;
  font-size: 3em;
  top: 10%;
  left: 70%;
  }
  /*end of line-chart*/
  
  /* font  awesome dollar icon*/
  .dollar{
    color: #eee488;
    position: absolute;
    font-size: 2em;
    top: 22%;
    left: 60%;
  
  }
  /* end of font awesome dollar */
  
  
  /* fa dollar2*/ 
  .dollar2{
  color: rgb(253, 222, 136);
  position: absolute;
  font-size: 2em;
  top: 55%;
  left: 92%;
  }
  /*end fa dollar2*/
  
  /* fa euro*/ 
  .euro{
  color: rgb(253, 222, 136);
  position: absolute;
  font-size: 2em;
  top: 55%;
  left: 70%;
  }
  /*end fa euro*/
  
  /* fa yen*/ 
  .yen{
  color: rgb(253, 222, 136);
  position: absolute;
  font-size: 2em;
  top: 55%;
  left: 50%;
  }
  /*end fa yen*/
  
  /* fa credit card*/
  .credit-card{
    color: rgb(243, 243, 219);
    position: absolute;
    font-size: 2em;
    top: 35%;
    left: 70%;   
  }
  /*end of fa credit card*/
  
  /* fa money*/
  .money{
    color: rgb(218, 248, 178);
    position: absolute;
    font-size: 2em;
    top: 22%;
    left: 85%;
  }
  /*end fa money*/
  
  /* fa money2*/ 
  .money2{
  color: rgb(233, 248, 178);
  position: absolute;
  font-size: 1em;
  top: 20%;
  left: 50%;
  }
  /*end fa money2*/
  
  /* fa money3*/ 
  .money3{
  color: rgb(250, 249, 176);
  position: absolute;
  font-size: 1em;
  top: 10%;
  left: 50%;
  }
  /*end fa money3*/
  
  /* fa money4*/ 
  .money4{
  color: rgb(223, 248, 177);
  position: absolute;
  font-size: 1em;
  top: 15%;
  left: 50%;
  }
  /*end fa money4*/
  
  /* fa money5*/ 
  .money5{
  color: rgb(242, 243, 166);
  position: absolute;
  font-size: 1em;
  top: 25%;
  left: 50%;
  }
  /*end fa money5*/
  
  /* fa money6*/ 
  .money6{
  color: rgb(224, 243, 170);
  position: absolute;
  font-size: 1em;
  top: 30%;
  left: 50%;
  }
  /*end fa money6*/
  
  /* fa money7*/ 
  .money7{
  color: rgb(249, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 35%;
  left: 50%;
  }
  /*end fa money7*/
  
  /* fa money8*/ 
  .money8{
  color: rgb(229, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 40%;
  left: 50%;
  }
  /*end fa money8*/
  
  /* fa money9*/ 
  .money9{
  color: rgb(246, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 50%;
  }
  /*end fa money9*/
  
  /* fa money10*/ 
  .money10{
  color: rgb(224, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 56%;
  }
  /*end fa money10*/
  
  /* fa money11*/ 
  .money11{
  color: rgb(249, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 62%;
  }
  /*end fa money11*/
  
  /* fa money12*/ 
  .money12{
  color: rgb(249, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 68%;
  }
  /*end fa money12*/
  
  /* fa money13*/ 
  .money13{
  color: rgb(232, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 74%;
  }
  /*end fa money13*/
  
  /* fa money14*/ 
  .money14{
  color: rgb(244, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 80%;
  }
  /*end fa money14*/
  
  /* fa money15*/ 
  .money15{
  color: rgb(224, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 86%;
  }
  /*end fa money15*/
  
  /* fa money16*/ 
  .money16{
  color: rgb(224, 250, 190);
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 92%;
  }
  /*end fa money16*/
  
  
  
    /* in industry*/
    .industry{
  
      color: rgb(90, 90, 86);
      position: absolute;
      font-size: 3em;
      top: 22%;
      left: 70%;
    }
  /* end of fa industry*/
  
  /* fa tree*/
  .tree{
  
      color: rgb(63, 63, 61);
      position: absolute;
      font-size: 6em;
      bottom:-1%;
      top:70%;
    }
  
  /*  end fa tree*/
  
   /* fa tree2*/
   .tree2{
  
    color: rgb(100, 100, 96);
    position: absolute;
    font-size: 2em;
    bottom:0%;
    top:55%;
    left:30%;
  }
  /*  end of fa tree2*/
  
  /*  fa tree3*/
  .tree3{
  color: rgb(88, 86, 86);
  position: absolute;
  left:50%;
  top: 62%;
  font-size: 4em;
  /* fa tree3 */
  }
  
  
   /* fa tree4*/
   .tree4{
  
    color: rgb(78, 78, 75);
    position: absolute;
    font-size: 3em;
    bottom:0%;
    top:55%;
    left:10%;
  }
  /*  end of fa tree4*/
  
  /*  fa tree5*/
  .tree5{
  color: rgb(92, 90, 90);
  position: absolute;
  left:70%;
  top: 78%;
  font-size: 3em;
  }
  /* fa tree5*/
  
  /*fa sun*/
  .sun{
    color: rgb(253, 240, 155);
    position: absolute;
    font-size: 3em;
    left:1em;
    top: 2em;
    animation:sun 60s linear infinite;
  
  }
  /* end of fa sun*/
  
  /*fa cloud */
  
  .cloud{
        color: rgb(102, 102, 101);
        position: absolute;
        font-size: 3em;
        left:0;
        top: 2em;
        animation:cloud 40s linear infinite;
  }
  /*end fa cloud*/
  
  /* fa cloud 2 */
  .cloud2{
    color: rgb(109, 109, 105);
    position: absolute;
    font-size: 3em;
    left:70px;
    top: 2em;
    animation:cloud 40s linear infinite;
  }    
  
   /* fa home*/
   .home{
  
    color: rgb(230, 230, 219);
    position: absolute;
    font-size: 2em;
    top:70%;
    left: 4em;
  }
  /*  end fa home*/
  
   /* fa home*/
   .home2{
  
    color: rgb(243, 243, 240);
    position: absolute;
    font-size: 3em;
    top:80%;
    left: 4em;
  }
  /*  end fa home*/
  
   /* fa home3*/
   .home3{
  
    color: rgb(247, 247, 242);
    position: absolute;
    font-size: 2em;
    bottom:0%;
    top:70%;
    left:30%;
  }
  /*  end of fa home3*/  
  
  /*  fa home4*/
  .home4{
  color: rgb(245, 238, 238);
  position: absolute;
  left:50%;
  top: 80%;
  font-size: 3em;
  }
  /* fa home4 */
  
  /*  fa car*/
  .car{
  color: rgb(92, 90, 90);
  position: absolute;
  left:45%;
  top: 84%;
  font-size: 2em;
  }
  /* fa car*/

  /*Widget style */
.widget{
    position: absolute;
    top:4em;
  }
  /*end of widget style*/

  /* invest iin bitcoin*/
.investt{
  position: absolute;
  top: 65%;
  left:30%;
  width: 30%;
  height: 25%;
  font-size: 1em;
  
  }
  
  .investt .invest_btn{
  border-radius: 3px;
  padding: 4px;
  padding-left: 20p;
  font-size: 17px;
  font-weight: bold;
  
  }
  
  .investt .iconss{
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(232, 231, 236);
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  
  /* end of invest iin bitcoin*/
  


/*==== Smart investor text======*/
.smart_investor{
  top:8em;
  margin-left: auto;
  margin-right: auto;
font-size: 22px;
width: 25em;
height: 25em;
border-radius: 50%;
}
.smart_investor .text_smart{
  position: relative;
  top: 4.4em;
  font-size: 1em;
  left: 1%;

  
}

.text_welcome{
  bottom: 0;
  left: 14%;
}
.milestone{
  top: 12em;
  left: 26%;
  width:46%;
  border-radius: 20px;
  height: 2em;
}

.milestone>.fill{
  border-radius: 20px;
  padding-right: 8px;
 }
 .milestone .line1,.milestone .line2{
     width: 1px;
     height: 3em;
     top:-8px;
 }
 
.milestone .amount_invested,.milestone .milestone_invested{
  font-size: 17px;
}
.milestone .amount_invested{
  top:-2em;
  left:2px;
}
.milestone .milestone_invested{
  top:-2em;
  right: 2px;
}
.milestone .BTC1{
  top:2em;
  left:0;
}
.milestone .BTC2{
  top:2em;
  left:65%;
}
.milestone .line1{

left: 30%;
}
.milestone .line2{
left: 70%;
}

/*====Animations for sun and clouds  */
@keyframes cloud2{
  from{
    left:-2em;
    top:-2em;
 }
 to{
    left:30em;
    top:5em;
 }   
}      
@keyframes cloud{
from{
   left:0em;
   top:10em;
}
to{
   left:30em;
   top:0em;
} 
}   
@keyframes sun{
from{
   left:-2em;
   top:2em;
}
to{
   left:30em;
   top:-2em;
}

}   
/*====End of cloud Animation====*/

 /* start of login form for tablet */
 .nav_link { 
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 13px;

}
.logo_img {
  text-align: center;
  margin-top: 40px;

}
.center{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.h1_style{
  color: blue;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
  
}
.icon {
  text-align: left;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: 400;
  padding-right: 10px;
  color: orange;
}
.login1 {
  border-radius: 6px;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  border-color: blue;

}
.check {
  text-align: left;
  margin-left: 2em;
}
input[type="submit"]{
  color: white;
  background-color: blue;
  width: 9em;
  border-radius: 4px;
  margin-left: 40%;
}
.link_reg{
  color: blue;
  margin-left: 3em;
}
.link_reg a{
  color: blue;
}



/* start of registration form for tablet */

.header_2 { 
  background-color: white;
  height: 5em;
  width: 100%;
  text-transform: uppercase;
  padding-left:  40px;
  
}
     /* start of web logo */
     .logo_2 {
      height: 4em;
      width: 8em;
      margin-bottom: 10px;
  
      }
      /* end of logo reg */
      .icon2 {
        color: orange;
        margin-left: 1em;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 11px;
    }
div.box_header {
  font-weight: 700;
  height: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.center_2 {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid grey;
  height: auto;
  width: 95%;
  margin-left: 1em;
  padding-right: 2em;

}
.box2 {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;

}
.box2_style {
  position: relative;
  width: 18em;
  height: 2em;
  margin-bottom: 10px;
  border-color: none;
  margin-right: 30px;
}
.shift_upl {
  margin-left: auto;
  margin-right: auto;
}
.fileupload {
  width: 11em;
  height: 2em;
  color: rgb(110, 110, 110);
}
.reg_btn {
  color: white;
  background-color: blue;
  width: 9em;
  height: 2em;
  border-radius: 4px;
  margin-top: 2em;
  margin-left: 28em;
}
/* end of registration form for tablet */







/* login and registation for tablet*/
  
.loginn{
  display: flex;
  flex-direction: row;
  
}

.loginn{
position: absolute;
right: 10%;
top: 9px;
}



.loginn div{ 
  margin-left: 4px;
  padding: 3px;
  border-radius: 4px;
  }
  
.loginn div a{ 
  font-size: 23px;
 
  }



/*style for logo on top left */
header .logo{
  position: absolute;
  top:-5px;
  left: -4px; 
}
header .logo img{
  width:8em;
  height: 4em
}
/*  ====== end of logo style==== */
/*==== Start of About section */

.About{
  flex-direction:column;
  padding-top: 2em;
}
.About>div{
  width: 95%;
  margin-left:5px;
  margin-right:5px;
}
.About .img_network img{
  width:90%;
  height:auto;
}

.card{
  font-size: 15px;
  margin-top: 8px;
  margin-left: 3%;
  text-align: center;
}

/*===End of About us section ==== */

/*animation for text */

/*animated text sliding */

.text-animate{
  position: absolute;
  left: 30%;
  top: 30em;
}

.text-animate #text1,#text2,#text3,#text4,#text5{
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}
/*end of style */

/*==== Video for dummines */
.y_video{
  padding-top:1em ;
  width:100%;
}
.y_video>iframe{
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height:480px;
}

/*===End of video ===  */



/*three steps*/

.three-steps>div{
  top: 2em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;

}
.steps{
  display: flex;
  flex-direction: column;
 
}
.steps>div{
  margin: 1em;
 
}


.threestep-text .h11{
  top: 2em;
}
/*end-threesteps*/

/*why chose  us*/

.security{
display: flex;
flex-direction: column;
}

.security>div{
  margin: 1em;
}
/*end-why chose  us*/

/*investment plans*/
  
.invest-text{
  text-align: center;
  color: white;
}

.planns-cards{
  display: flex;
  flex-direction:row;
  padding-left: 10.5%;
  margin: 1em;
}
.planns-cards>div{
  margin: 0.5em;
  text-align: center;
  padding: 5px;
}
.planns-cards>div a{
  padding: 8px;
  width: 55%;
  left: 20%;
}
.planns-cards>div>p{
  color: white;
}


/*end-investment plans*/

/*statistics*/

.stat-text{
  text-align: center;
  color: white;
}

.peoplee{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.peoplee>div{
  margin: 1em;
  text-align: center;
  width: 60%;
  left: 17%;
 
}

.imagess>i{
  font-size: 4em;
}
.imagess>div{
 margin: 1em;
}
.imgg>img{
  border-radius: 6px;
  width: 95%;
}

/*end-statistics*/

/*FAQ*/

.questions{
  display: flex;
  flex-direction:column;
}
.questions>div{
 margin: 1em;
  
}

/*end-FAQ*/

/*about*/
.about-head{
  color: white;
  text-align: center;
}
.about-content{
  margin: 2em;
  align-content: center;
}
.about-content .picc{
  padding-left: 17%;
 
}
.picc>img{
  border-radius: 7px;
}
.para>p{
  left: -2%;
}
/*end-about*/

/*leave a mesage form*/
.formmmm>input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


.formmm{
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0.5em;
}
.formmm>div{
  text-align: center;
  padding: 8px;
}
.containerr{
  display: flex;
  flex-direction: column;
  margin: 1em;
  
}
.containerr>div{
  padding: 1em;
}
/*end-leave a mesage form*/


/* smart investa lastblock */
.lastblock>h2{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding-left: 6%;

}


/* smart investa lastblock */
.lastblock>h1{
  text-align: center;
  color: white;
  padding:0.5em;
}
.last-blockdiv{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding-left: 6%;
}

.last-blockdiv>div{
  margin: 1em;
  font-size: 1.3em;
}
.quick-links h5{
  font-size: 1em;
}
.quick-links a:link{
  text-decoration: none;
  color: #062a52;
}
.quick-links a:hover{
  color: #eca31b;
}
.services h5{
  font-size: 1em;
}
.services a:link{
  text-decoration: none;
  color: #062a52;
}
.services a:hover{
  color: #eca31b;
}  
/* end-smart investa lastblock */

}

